.split {
  visibility: hidden;
}
.splitting {
  visibility: visible;
  line-height: 0 !important;
}
.word {
  overflow: hidden;
  display: inline-flex;
  padding: 0 0.15em 0 0;
  line-height: 1.05;
}
.char {
  opacity: 0;
  transform: translateY(100%);
  display: block;
  line-height: 1;
}
.whitespace {
  display: none;
}

.txt-gradient {
  background-color: $white;
  background-image: linear-gradient(180deg, transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  .char {
    transform: none !important;
  }
}

.txt-gradient-static {
  @include gradient-base(90deg);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.arrow-icon-wrapper {
  overflow: hidden;
  background: rgba(255, 251, 251, 0.2);
  backdrop-filter: blur(10px);
  will-change: transform;
  border-radius: 100%;
  width: 24px;
  height: 24px;

  .arrow-icon {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    transform: translate3d(0%, 0%, 0px);
    transform-style: preserve-3d;
    transition: transform 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 8px;
      height: 8px;
    }

    &.arrow-icon-hover {
      left: -100%;
    }
  }

  @include media-breakpoint-up(md) {
    width: 40px;
    height: 40px;

    .arrow-icon {
      img {
        width: 14px;
        height: 14px;
      }
    }
  }
}

// cards

.card {
  &:hover {
    .arrow-icon-wrapper {
      .arrow-icon {
        transform: translate3d(100%, -100%, 0px);
      }
    }
  }
}

@keyframes rotate {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

@keyframes rotate1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

.card-effect-01 {
  .card {
    --border-angle: 0turn;

    &:before {
      content: "";
      @include abs;
      @include gradient-y(#dadada, #5a5a5a);
      @include card-borders();
    }

    &:after {
      content: "";
      @include abs;
      background-image: conic-gradient(from var(--border-angle), #695cff, #ffffff, #695cff);
      @include card-borders();
      transition: opacity 0.3s ease;
      opacity: 0;
    }

    .card-inner {
      width: 100%;
      height: 100%;
      background-color: $black;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        right: -69.77%;
        top: -35.37%;
        background-color: rgba(13, 153, 255, 0.1);
        transition: background-color 0.3s ease;
        filter: blur(150px);
        width: 116%;
        height: 94%;
        will-change: transform;
      }

      &:after {
        content: "";
        position: absolute;
        left: -32.95%;
        bottom: -36.3%;
        background-color: rgba(13, 153, 255, 0.1);
        transition: background-color 0.3s ease;
        filter: blur(150px);
        width: 96%;
        height: 78.7%;
        will-change: transform;
      }

      .card-image {
        opacity: 0;
        transition: opacity 0.4s ease;
        mix-blend-mode: screen;
      }
    }

    &:hover {
      &:after {
        opacity: 1;
        animation: bg-spin 3s linear infinite;
      }

      .card-inner {
        &:before,
        &:after {
          background-color: rgba(112, 0, 255, 0.2);

          @include media-breakpoint-up(lg) {
            background-color: rgba(112, 0, 255, 0.15);
          }
        }
      }

      .card-image {
        opacity: 1;
      }
    }

    &:focus {
      &:before {
        background-color: $headline-color;
      }

      .card-inner {
        &:before,
        &:after {
          background-color: rgba(112, 0, 255, 0.3);

          @include media-breakpoint-up(lg) {
            background-color: rgba(112, 0, 255, 0.15);
          }
        }
      }

      .card-image {
        opacity: 1;
      }
    }

    &:active {
      &:after {
        opacity: 1;
        animation: bg-spin 3s linear infinite;
      }

      .card-inner {
        &:before,
        &:after {
          background-color: rgba(112, 0, 255, 0.3);

          @include media-breakpoint-up(lg) {
            background-color: rgba(112, 0, 255, 0.15);
          }
        }
      }

      .card-image {
        opacity: 1;
      }
    }
  }
}

.card-effect-02 {
  --rotate: 0deg;
  &:before {
    content: "";
    @include abs;
    @include gradient-y(rgba(218, 218, 218, 0.8), rgba(90, 90, 90, 0.8));
    @include card-borders();
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
    // background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
    background-color: #0d99ff;
    @include card-borders();
  }

  .card {
    &:before {
      position: absolute;
      content: "";
      width: 628px;
      height: 628px;
      left: 160px;
      top: 231px;
      margin: 0 auto;
      // background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
      background-color: #99faf4;
      opacity: 0;
      transition: all 0.3s;
      will-change: transform;
    }

    .card-inner {
      background: linear-gradient(180deg, #050505 0%, #191919 100%);
    }
  }

  &:hover,
  &:focus,
  &.active {
    &:before {
      opacity: 0;
    }
    &:after {
      opacity: 1;
      // animation: spin 2.5s linear infinite;
    }

    .card {
      &:before {
        filter: blur(50px);
        opacity: 1;
        // animation: spin 2.5s linear infinite;
      }

      .card-inner {
        background-color: $black;
      }
    }
  }
}

.card-effect-03 {
  position: relative;

  .card {
    border: 1px solid #434343;
    @include card-borders();
    position: relative;
    overflow: hidden;

    &:before {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      background-color: #434343;
      position: absolute;
      bottom: 0;
      right: 0;
      transform: rotate(45deg) translate3d(45%, 0, 0);

      @include media-breakpoint-up(xl) {
        width: 40px;
        height: 40px;
        transform: rotate(45deg) translate3d(58%, 0, 0);
      }
    }
  }
}

.card-effect-04 {
  --rotate: 0deg;
  &:before {
    content: "";
    @include abs;
    @include gradient-y(rgba(218, 218, 218, 0.8), rgba(90, 90, 90, 0.8));
    @include card-borders();
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
    // background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
    background-color: #0d99ff;
    @include card-borders();
  }

  .card {
    overflow: hidden;

    &:before {
      position: absolute;
      content: "";
      width: 628px;
      height: 628px;
      left: 160px;
      top: 231px;
      margin: 0 auto;
      // background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
      background-color: #99faf4;
      opacity: 0;
      transition: all 0.3s;
      will-change: transform;
    }

    .card-inner {
      background: linear-gradient(180deg, #050505 0%, #191919 100%);
    }
  }

  &:hover,
  &:focus,
  &.active {
    &:before {
      opacity: 0;
    }
    &:after {
      opacity: 1;
      // animation: spin 2.5s linear infinite;
    }

    .card {
      &:before {
        filter: blur(50px);
        opacity: 1;
        // animation: spin 2.5s linear infinite;
      }

      .card-inner {
        background: $black;
      }
    }
  }
}

// .card-effect-04 {
//   --rotate: 0deg;
//   &:before {
//     position: absolute;
//     content: "";
//     top: 16%;
//     left: 0;
//     right: 0;
//     z-index: -1;
//     height: 95%;
//     width: 100%;
//     margin: 0 auto;
//     transform: scale(0.8);
//     // filter: blur(90px);
//     background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
//     opacity: 0;
//     transition: all 0.3s;
//     will-change: transform;
//   }

//   .card {
//     &:before {
//       content: "";
//       @include abs;
//       @include gradient-y(rgba(218, 218, 218, 0.8), rgba(90, 90, 90, 0.8));
//       @include card-borders();
//     }
//     &:after {
//       content: "";
//       position: absolute;
//       top: 0;
//       left: 0;
//       right: 0;
//       z-index: -1;
//       width: 100%;
//       height: 100%;
//       opacity: 0;
//       background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
//       @include card-borders();
//     }
//   }

//   &:hover {
//     &:before {
//       filter: blur(50px);
//       opacity: 1;
//       animation: spin 2.5s linear infinite;
//     }
//     .card {
//       &:before {
//         opacity: 0;
//       }
//       &:after {
//         opacity: 1;
//         animation: spin 2.5s linear infinite;
//       }
//     }
//   }
// }

:root {
  --gradient-start: #30db74;
  --overlay: #0b2516;
}

.card-effect-05 {
  --border-angle: 0turn;

  .card {
    &:before {
      content: "";
      @include abs;
      @include gradient-y(rgba(218, 218, 218, 0.8), rgba(90, 90, 90, 0.8));
      @include card-borders();
    }

    &:after {
      content: "";
      @include abs;
      background-image: conic-gradient(from var(--border-angle), var(--gradient-start), $white, var(--gradient-start));
      @include card-borders();
      transition: opacity 0.3s ease;
      opacity: 0;
    }

    .card-inner {
      width: 100%;
      height: 100%;
      background-color: $black;
      position: relative;

      &:before,
      &:after {
        content: "";
        position: absolute;
        width: 264px;
        height: 264px;
        border-radius: 100%;
        background-color: var(--overlay);
        opacity: 0;
        transition: opacity 0.3s ease;
        filter: blur(45px);
        will-change: transform;
      }

      &:before {
        left: -96px;
        top: -100px;
      }

      &:after {
        right: -85px;
        bottom: -75px;
      }

      .card-image {
        opacity: 0;
        transition: opacity 0.4s ease;
        mix-blend-mode: screen;
      }
    }

    &:hover {
      &:after {
        opacity: 1;
      }

      .card-inner {
        &:before,
        &:after {
          opacity: 1;
        }
      }

      .card-image {
        opacity: 1;
      }
    }

    &:focus {
      &:before {
        background: $headline-color;
      }

      .card-inner {
        &:before,
        &:after {
          opacity: 1;
        }
      }

      .card-image {
        opacity: 1;
      }
    }

    &:active {
      &:after {
        opacity: 1;
      }

      .card-inner {
        &:before,
        &:after {
          opacity: 1;
        }
      }

      .card-image {
        opacity: 1;
      }
    }

    &.disabled {
      pointer-events: none;
      &:before {
        background: $dark;
      }
      h3,
      p {
        color: #434343;
      }
      .arrow-icon-wrapper {
        display: none;
      }
      .card-image {
        opacity: 1;
      }
    }
  }

  &--color-green {
    --gradient-start: #30db74;
    --overlay: #0b2516;
  }

  &--color-blue {
    --gradient-start: #0d99ff;
    --overlay: #061b2a;
  }

  &--color-purple {
    --gradient-start: #695cff;
    --overlay: #14122a;
  }

  &--color-yellow {
    --gradient-start: #ffae33;
    --overlay: #2a1e0c;
  }

  &--color-red {
    --gradient-start: #ff544b;
    --overlay: #2a110f;
  }

  &--color-lightblue {
    --gradient-start: #62d3ff;
    --overlay: #13242a;
  }

  &--color-lightyellow {
    --gradient-start: #ffd426;
    --overlay: #2a240a;
  }
}

// lines
.line-animated {
  width: 100%;
  border: 1px solid #434343;
  border-bottom: none;
  border-radius: 4px;
  height: 5px;
  transform: scaleX(0);
}

.card-effect-06 {
  @extend .card-effect-03;

  .card-icon {
    overflow: hidden;

    .card-icon-inner {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translate3d(0, 0, 0);
      will-change: transform;
      transition: transform 0.3s ease;
    }
  }

  &:hover {
    .card-icon {
      .card-icon-inner {
        transform: translate3d(0, -100%, 0);
      }
    }
  }
}

.marquee {
  position: relative;
  overflow: hidden;
  --offset: 20vw;
  --move-initial: calc(-20% + var(--offset));
  --move-final: calc(-60% + var(--offset));
  font-weight: 400;
  font-size: 10.43rem;
  line-height: 80%;
  letter-spacing: -0.05em;
  margin: 0 0 30px;

  .marquee__wrap {
    transform: translateX(0);
    transition: all 1s ease-out;
  }

  .marquee__inner {
    width: fit-content;
    display: flex;
    position: relative;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee 7s linear infinite;
    animation-play-state: running;
    white-space: nowrap;
    text-align: center;
  }

  span {
    padding: 0 2vw;
  }

  @include media-breakpoint-up(md) {
    font-size: 21vw;
  }
}

@keyframes marquee {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}
