.card {
  .arrow-icon-wrapper {
    flex: 0 0 auto;
  }
}

.card-type-01 {
  width: 100%;
  padding: 89.55% 0 0;
  position: relative;

  .card {
    @include abs;
    padding: 1px;
    text-decoration: none;
    @include card-borders();

    .card-inner {
      display: flex;
      flex-direction: column;
      position: relative;
      z-index: 5;
      width: 100%;
      height: 100%;
      background-color: $black;
      overflow: hidden;
      @include card-borders();

      .card-image {
        position: absolute;
        top: 50%;
        right: 0;
        width: 84%;
        height: 70%;
        z-index: 2;
        transform: translate3d(0, -50%, 0);

        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .card-top {
        position: relative;
        z-index: 3;
        display: flex;
        justify-content: space-between;
        padding: 20px 19px 0;
        flex: 0 0 auto;

        .card-number {
          font-size: 12px;
          letter-spacing: -0.02em;
          color: $headline-color;
        }
      }

      .card-text {
        position: relative;
        z-index: 3;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 5px 19px 19px;

        p {
          margin: 0;
        }
      }
    }
  }

  @include media-breakpoint-up(sm) {
    padding: 122.73% 0 0;

    .card {
      .card-inner {
        .card-text {
          p {
            min-height: 4.2em;
          }
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    padding: 122.73% 0 0;
  }

  @include media-breakpoint-up(lg) {
    .card {
      .card-inner {
        .card-top {
          padding: 40px 40px 0px;

          .card-number {
            font-size: 14px;
            letter-spacing: 0.01em;
            color: $text-color;
          }
        }

        .card-text {
          padding: 0 40px 37px;
        }
      }
    }
  }
}

.card-type-02 {
  width: 100%;
  padding: 119.4% 0 0;
  position: relative;

  .card {
    @include abs;
    padding: 1px;
    text-decoration: none;
    overflow: hidden;
    @include card-borders();

    .card-inner {
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100%;
      background-color: $black;
      overflow: hidden;
      @include card-borders();

      .card-image {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        height: 74%;
        z-index: 2;
        display: flex;
        align-items: center;

        &:after {
          content: "";
          @include abs;
          background: linear-gradient(180deg, rgba(5, 5, 5, 0) 0%, rgba(5, 5, 5, 0.9) 100%);
          border-radius: 10px;
        }

        img {
          display: block;
          width: 100%;
          height: auto;
          object-position: center;
        }
      }

      .card-top {
        position: relative;
        z-index: 3;
        display: flex;
        justify-content: space-between;
        padding: 20px 19px 0;

        .card-arrow {
          flex: 0 0 auto;
        }
      }

      .card-text {
        position: relative;
        z-index: 3;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 300px;

        p {
          margin: 10px 0 0;
        }
      }

      .card-tabs {
        position: absolute;
        z-index: 3;
        left: 19px;
        right: 19px;
        bottom: 19px;
      }
    }
  }

  @include media-breakpoint-up(sm) {
    padding: 118.92% 0 0;
  }

  @include media-breakpoint-up(lg) {
    .card {
      .card-inner {
        .card-top {
          padding: 40px 40px 0;

          .card-number {
            font-size: 14px;
            letter-spacing: 0.01em;
            color: $text-color;
          }
        }
        .card-text {
          h2 {
            margin: 0 0 6px;
          }
          p {
            margin: 2px 0 0;
          }
        }
        .card-tabs {
          left: 39px;
          right: 39px;
          bottom: 39px;

          .tab-nav li a > span {
            padding: 14px 29px;
          }
        }
      }
    }
  }
}

.card-type-03 {
  width: 100%;
  padding: 71.6% 0 0;
  position: relative;
  @include card-borders();

  .card {
    @include abs;
    padding: 1px;
    text-decoration: none;

    .card-inner {
      position: relative;
      z-index: 5;
      width: 100%;
      height: 100%;
      background-color: $black;
      padding: 19px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow: hidden;
      @include card-borders();

      p {
        margin: 0;
      }
    }
  }

  &:hover {
    .card {
      .card-inner {
        background-color: #061b2a;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    padding: 123% 0 0;

    .card {
      .card-inner {
        padding: 29px;

        h2 {
          letter-spacing: -0.01em;
          font-size: 1.714rem;
          line-height: 1.25;
        }
        p {
          min-height: 4.2em;
        }
      }
    }
  }
  @include media-breakpoint-up(xl) {
    .card {
      .card-inner {
        padding: 35px 39px 40px;

        h2 {
          font-size: 1.555rem;
        }
      }
    }
  }
}

.card-type-04 {
  width: 100%;
  padding: 71.64% 0 0;
  position: relative;

  .card {
    @include abs;
    padding: 1px;
    text-decoration: none;
    overflow: hidden;
    @include card-borders();

    .card-inner {
      position: relative;
      z-index: 5;
      width: 100%;
      height: 100%;
      background-color: $black;
      overflow: hidden;
      padding: 19px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include card-borders();

      .card-top {
        position: relative;
        z-index: 3;
        display: flex;
        justify-content: space-between;
      }

      .card-text {
        position: relative;
        z-index: 3;
        p {
          margin: 8px 0 0;
        }
      }
    }
  }

  @include media-breakpoint-up(sm) {
    padding: 123% 0 0;
  }

  @include media-breakpoint-up(lg) {
    padding: 0;
    height: 100%;
    .card {
      position: relative;
      height: 100%;

      .card-inner {
        padding: 39px 39px 40px;
        height: 100%;
        display: block;

        .card-top {
          margin: 0 0 170px;
          .card-number {
            font-size: 14px;
            letter-spacing: 0.01em;
            color: $text-color;
          }
        }
      }
    }
  }
}

.card-type-05 {
  width: 100%;
  padding: 128.5% 0 0;

  .card {
    @include abs;
    padding: 1px;
    text-decoration: none;
    overflow: hidden;
    @include card-borders();

    .card-inner {
      position: relative;
      z-index: 5;
      padding: 19px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      @include card-borders();

      &:before,
      &:after {
        display: none !important;
      }

      .text {
        p {
          margin: 0;
          font-size: 0.714rem;
          line-height: 120%;
          letter-spacing: 0.02em;
          color: $headline-color;
        }
      }

      .label {
        position: absolute;
        bottom: 19px;
        left: 50%;
        transform: translateX(-50%);
        background-color: $headline-color;
        padding: 8px 15px;
        border-radius: 15px;
        font-size: 0.714rem;
        line-height: 140%;
        letter-spacing: 0.01em;
        color: $dark;
      }
    }
  }

  &:hover {
    .card {
      .card-inner {
        background-color: #061b2a;
      }
    }
  }

  @include media-breakpoint-up(sm) {
    padding: 123% 0 0;
  }

  @include media-breakpoint-up(lg) {
    .card {
      .card-inner {
        padding: 39px 39px 27px;

        .text {
          p {
            font-size: 1rem;
            line-height: 140%;
            letter-spacing: 0;
            margin: 20px 0 0;
          }
        }

        .label {
          bottom: 39px;
          padding: 14px 29px;
          border-radius: 25px;
          font-size: 0.89rem;
          line-height: 140%;
        }
      }
    }
  }
}

.card-type-06 {
  width: 100%;
  padding: 128.5% 0 0;

  .card {
    @include abs;
    padding: 1px;
    text-decoration: none;
    overflow: hidden;
    @include card-borders();

    .card-inner {
      position: relative;
      z-index: 5;
      padding: 19px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include card-borders();

      &:before,
      &:after {
        display: none !important;
      }

      .card-top {
        display: flex;
        justify-content: space-between;
        margin: 0 0 15px;
      }

      .card-text {
        font-weight: 500;
      }

      .card-author {
        margin-top: auto;
        display: flex;

        figure {
          margin: 0 10px 0 0;
          flex: 0 0 auto;
          width: 40px;

          img {
            display: block;
            width: 100%;
            height: auto;
            border-radius: 5px;
          }
        }

        p {
          margin: 0;
          color: $headline-color;
        }
      }
    }
  }

  &:hover {
    .card {
      .card-inner {
        background-color: #061b2a;
      }
    }
  }

  @include media-breakpoint-up(sm) {
    padding: 123% 0 0;
  }

  @include media-breakpoint-up(lg) {
    .card {
      .card-inner {
        padding: 39px;

        .card-top {
          margin: 0 0 11px;
        }

        .card-text {
          line-height: 1.22;
          font-size: 1.555rem;
        }

        .card-author {
          figure {
            width: 50px;

            img {
              border-radius: 10px;
            }
          }

          div {
            font-size: 0.78rem;

            p {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}

.card-type-07 {
  width: 100%;
  padding: 71.6% 0 0;
  position: relative;
  @include card-borders();

  .card {
    @include abs;
    padding: 1px;
    text-decoration: none;

    .card-inner {
      position: relative;
      z-index: 5;
      width: 100%;
      height: 100%;
      background-color: $black;
      padding: 19px;
      overflow: hidden;
      @include card-borders();

      .card-icon {
        display: none;
      }

      .card-text {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p {
          margin: 0;
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    padding: 120% 0 0;
    border-radius: 20px;
    clip-path: none;
    overflow: hidden;

    .card {
      &:before {
        display: none;
      }

      .card-inner {
        padding: 20px;
        border-radius: 0;
        clip-path: none;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .card-icon {
          display: block;
        }

        .card-text {
          height: auto;
          display: block;

          p {
            margin: 6px 0 0;
            min-height: 4.2em;
          }
        }
      }
    }
  }
  @include media-breakpoint-up(xl) {
  }
}

.card-type-08 {
  .card-inner {
    padding: 20px;

    .card-icon {
      display: none;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 60px;
      border: 1px solid $headline-color;
      border-radius: 10px;
      margin: 0 0 60px;

      img {
        display: block;
      }
    }

    .card-text {
      h2 {
        margin: 0 0 8px;

        @include media-breakpoint-down(xl) {
          font-size: 1.714rem;
          letter-spacing: -0.01em;
        }
      }
      p {
        margin: 0;
      }
    }
  }

  @include media-breakpoint-up(md) {
    .card-inner {
      padding: 20px;

      .card-icon {
        display: flex;
        border-radius: 20px;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    .card-inner {
      .card-icon {
        width: 80px;
        height: 80px;
      }
    }
  }

  @include media-breakpoint-up(xl) {
    .card-inner {
      padding: 40px;
      .card-icon {
        margin: 0 0 120px;
      }

      .card-text {
        h2 {
          margin: 0 0 4px;
        }
      }
    }
  }
}

.card-type-09 {
  width: 100%;
  padding: 83.58% 0 0;
  position: relative;

  .card {
    @include abs;
    padding: 1px;
    text-decoration: none;
    @include card-borders();

    .card-inner {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      z-index: 5;
      width: 100%;
      height: 100%;
      background-color: $black;
      overflow: hidden;
      @include card-borders();
      border-radius: 10px 10px 33px 10px;
      padding: 20px;

      .card-image {
        position: absolute;
        top: 20px;
        bottom: 20px;
        right: 0;
        left: 20px;
        z-index: 2;

        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .card-top {
        position: relative;
        z-index: 3;
        display: flex;
        justify-content: space-between;
        flex: 0 0 auto;
      }

      .card-text {
        position: relative;
        z-index: 3;

        p {
          margin: 0;
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    padding: 123.07% 0 0;

    .card {
      .card-inner {
        .card-image {
          top: 60px;
          bottom: 60px;
          left: 50px;
        }
      }
    }
  }

  @include media-breakpoint-up(xl) {
    .card {
      .card-inner {
        padding: 38px 37px 40px 32px;

        .card-top {
          padding: 0 3px 0 8px;
        }
      }
    }
  }
}

.card-type-10 {
  width: 249px;
  height: 320px;
  position: relative;
  @include card-borders();

  .card {
    @include abs;
    padding: 1px;
    text-decoration: none;

    .card-inner {
      position: relative;
      z-index: 5;
      width: 100%;
      height: 100%;
      background-color: $black;
      padding: 19px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow: hidden;
      @include card-borders();

      p {
        margin: 0;
      }
    }
  }

  &:hover {
    .card {
      .card-inner {
        background-color: #001625;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    width: 100%;
    height: auto;
    padding: 123% 0 0;

    .card {
      .card-inner {
        h3 {
          font-size: 1.4rem;
        }
        p {
          min-height: 4.2em;
        }
      }
    }
  }
  @include media-breakpoint-up(xl) {
    .card {
      .card-inner {
        padding: 41px 39px 37px;

        h3 {
          font-size: 1.555rem;
        }
      }
    }
  }
}

.card-type-11 {
  width: 100%;

  .card-image {
    margin: 0 0 10px;
    @include card-borders();
    background: linear-gradient(#e9eef1 0%, #1e1e1e 100%);
    padding: 1px;

    img {
      display: block;
      width: 100%;
      height: auto;
      @include card-borders();
    }
  }

  .card-inner {
    display: flex;
    justify-content: space-between;

    p {
      margin: 0;
    }
  }

  @include media-breakpoint-up(lg) {
    .card-inner {
      h3 {
        font-size: 1.2rem;
      }
    }
  }

  @include media-breakpoint-up(xl) {
    .card-inner {
      h3 {
        font-size: 1.555rem;
      }
    }
  }
}

.card-type-12 {
  width: 100%;
  padding: 100% 0 0;

  .card {
    @include abs;
    @include card-borders();
    background: linear-gradient(#e9eef1 0%, #1e1e1e 100%);

    .card-image {
      position: absolute;
      left: 1px;
      top: 1px;
      right: 1px;
      bottom: 1px;

      img {
        display: block;
        width: 100%;
        height: auto;
        @include card-borders();
      }
    }
  }
}
