.card {
  display: block;
  .arrow-icon-wrapper {
    flex: 0 0 auto;
  }
}

.card-type-01 {
  width: 100%;
  padding: 89.55% 0 0;
  position: relative;

  .card {
    @include abs;
    padding: 1px;
    text-decoration: none;
    @include card-borders();

    .card-inner {
      display: flex;
      flex-direction: column;
      position: relative;
      z-index: 5;
      width: 100%;
      height: 100%;
      background-color: $black;
      overflow: hidden;
      @include card-borders();

      .card-image {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 2;

        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .card-top {
        position: relative;
        z-index: 3;
        display: flex;
        justify-content: space-between;
        padding: 20px 19px 0;
        flex: 0 0 auto;

        .card-number {
          font-size: 12px;
          letter-spacing: -0.02em;
          color: $headline-color;
        }
      }

      .card-text {
        position: relative;
        z-index: 3;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 5px 19px 19px;

        p {
          margin: 0;
        }
      }
    }
  }

  @include media-breakpoint-up(sm) {
    padding: 122.73% 0 0;

    .card {
      .card-inner {
        .card-text {
          p {
            min-height: 4.2em;
          }
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    padding: 122.73% 0 0;
  }

  @include media-breakpoint-up(lg) {
    .card {
      .card-inner {
        .card-top {
          padding: 40px 40px 0px;

          .card-number {
            font-size: 14px;
            letter-spacing: 0.01em;
            color: $text-color;
          }
        }

        .card-text {
          padding: 0 40px 37px;
        }
      }
    }
  }
}

.card-type-02 {
  width: 100%;
  padding: 119.4% 0 0;
  position: relative;

  .card {
    @include abs;
    padding: 1px;
    text-decoration: none;
    overflow: hidden;
    @include card-borders();

    .card-inner {
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100%;
      overflow: hidden;
      @include card-borders();
      padding: 19px;

      .card-image {
        position: absolute;
        top: 86px;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 2;
        display: flex;
        align-items: center;

        &:after {
          content: "";
          @include abs;
          background: linear-gradient(180deg, rgba(5, 5, 5, 0) 0%, rgba(5, 5, 5, 0.9) 100%);
          border-radius: 10px;
        }

        img {
          display: block;
          width: 100%;
          height: auto;
          object-position: center;
        }
      }

      .card-top {
        position: relative;
        z-index: 3;
        display: flex;
        justify-content: space-between;
        margin: 0 0 7px;

        h2 {
          margin: -4px 0 0;
          line-height: 1;
        }

        .card-arrow {
          flex: 0 0 auto;
        }
      }

      .card-text {
        position: relative;
        z-index: 3;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p {
          margin: 0;
        }
      }

      .card-tabs {
        position: absolute;
        z-index: 3;
        left: 19px;
        right: 19px;
        bottom: 19px;

        .tab-nav li a > span {
          background: rgba(255, 255, 255, 0.1);
        }
      }
    }
  }

  @include media-breakpoint-up(sm) {
    padding: 118.92% 0 0;

    .card {
      .card-inner {
        .card-image {
          top: 39px;
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    .card {
      .card-inner {
        padding: 40px;
        .card-top {
          .card-number {
            font-size: 14px;
            letter-spacing: 0.01em;
            color: $text-color;
          }
        }
        .card-text {
          h2 {
            margin: 0 0 6px;
          }
          p {
            margin: 2px 0 0;
          }
        }
        .card-tabs {
          left: 39px;
          right: 39px;
          bottom: 39px;

          .tab-nav li a > span {
            padding: 14px 29px;
          }
        }
      }
    }
  }
}

.card-type-03 {
  width: 100%;
  height: 100%;

  .card {
    width: 100%;
    height: 100%;

    .card-inner {
      padding: 19px;
      h2 {
        margin: 0 0 72px;
      }
      p {
        margin: 0;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    .card {
      .card-inner {
        h2 {
          letter-spacing: -0.01em;
          font-size: 1.714rem;
          line-height: 1.25;
        }
      }
    }
  }
  @include media-breakpoint-up(xl) {
    .card {
      .card-inner {
        padding: 39px;

        h2 {
          font-size: 1.555rem;
          margin: 0 0 177px;
        }
      }
    }
  }
}

.card-type-04 {
  width: 100%;
  padding: 71.64% 0 0;
  position: relative;

  .card {
    @include abs;
    padding: 1px;
    text-decoration: none;
    overflow: hidden;
    @include card-borders();

    .card-inner {
      position: relative;
      z-index: 5;
      width: 100%;
      height: 100%;
      background-color: $black;
      overflow: hidden;
      padding: 19px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include card-borders();

      .card-top {
        position: relative;
        z-index: 3;
        display: flex;
        justify-content: space-between;
      }

      .card-text {
        position: relative;
        z-index: 3;
        p {
          margin: 8px 0 0;
        }
      }
    }
  }

  @include media-breakpoint-up(sm) {
    padding: 123% 0 0;
  }

  @include media-breakpoint-up(md) {
    .card .card-inner .card-text {
      min-height: 20%;
    }
  }

  @include media-breakpoint-up(lg) {
    .card {
      .card-inner {
        height: 100%;

        .card-top {
          .card-number {
            font-size: 14px;
            letter-spacing: 0.01em;
            color: $text-color;
          }
        }
      }
    }
  }

  @include media-breakpoint-up(xl) {
    .card {
      .card-inner {
        padding: 39px 39px 40px;
      }
    }
  }
}

.card-type-05 {
  width: 100%;
  padding: 128.5% 0 0;

  .card {
    @include abs;
    padding: 1px;
    text-decoration: none;
    overflow: hidden;
    @include card-borders();
    z-index: 2;

    .card-inner {
      height: 100%;
      position: relative;
      z-index: 5;
      padding: 19px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      @include card-borders();

      &:before,
      &:after {
        display: none !important;
      }

      .card-arrow {
        position: absolute;
        top: 19px;
        right: 19px;
      }

      .text {
        p {
          margin: 0;
          font-size: 0.714rem;
          line-height: 120%;
          letter-spacing: 0.02em;
          color: $error;
        }
      }

      .label {
        position: absolute;
        bottom: 19px;
        left: 50%;
        transform: translateX(-50%);
        background: rgba(255, 255, 255, 0.1);
        padding: 11.5px 16px;
        border-radius: 5px;
        font-size: 12px;
        line-height: 140%;
        letter-spacing: 0.01em;
        color: $text-color;
      }
    }
  }

  @include media-breakpoint-up(sm) {
    padding: 123% 0 0;
  }

  @include media-breakpoint-up(lg) {
    .card {
      .card-inner {
        padding: 39px 39px 27px;

        .card-arrow {
          top: 39px;
          right: 39px;
        }

        .text {
          p {
            font-size: 1rem;
            line-height: 140%;
            letter-spacing: 0;
            margin: 20px 0 0;
          }
        }

        .label {
          bottom: 39px;
          padding: 15px 30px;
          font-size: 14px;
          color: $headline-color;
        }
      }
    }
  }
}

.card-type-06 {
  width: 100%;
  padding: 128.5% 0 0;

  .card {
    @include abs;
    padding: 1px;
    text-decoration: none;
    overflow: hidden;
    @include card-borders();
    position: absolute !important;

    .card-inner {
      height: 100%;
      position: relative;
      z-index: 5;
      padding: 19px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include card-borders();

      .card-top {
        display: flex;
        justify-content: space-between;
        margin: 0 0 15px;
      }

      .card-text {
        font-weight: 500;
        font-size: 24px;
        line-height: 1;
        letter-spacing: -0.01em;
      }

      .card-author {
        margin-top: auto;
        display: flex;

        figure {
          margin: 0 10px 0 0;
          flex: 0 0 auto;
          width: 40px;

          img {
            display: block;
            width: 100%;
            height: auto;
            border-radius: 5px;
          }
        }

        p {
          margin: 0;
          color: $headline-color;
        }
      }
    }
  }

  &:hover {
    .card {
      .card-inner {
        background-color: #061b2a;
      }
    }
  }

  @include media-breakpoint-up(sm) {
    padding: 123% 0 0;
  }

  @include media-breakpoint-up(lg) {
    .card {
      .card-inner {
        padding: 39px;

        .card-top {
          margin: 0 0 11px;
        }

        .card-text {
          line-height: 1.22;
          font-size: 1.555rem;
        }

        .card-author {
          figure {
            width: 50px;

            img {
              border-radius: 10px;
            }
          }

          div {
            font-size: 0.78rem;

            p {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}

.card-type-07 {
  width: 100%;
  height: 100%;
  position: relative;

  .card {
    height: 100%;
    text-decoration: none;

    .card-inner {
      width: 100%;
      height: 100%;
      padding: 19px;
      overflow: hidden;

      .card-icon {
        width: 60px;
        height: 60px;
        margin: 0 0 86px;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
      }

      .card-text {
        width: 100%;
        // height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p {
          margin: 0;
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    .card {
      .card-inner {
        padding: 20px;

        .card-icon {
          width: 80px;
          height: 80px;
          border-radius: 20px;
          margin: 0 0 121px;
        }

        .card-text {
          height: auto;
          display: block;

          p {
            margin: 6px 0 0;
          }
        }
      }
    }
  }
  @include media-breakpoint-up(xl) {
    .card {
      .card-inner {
        padding: 40px 40px 39px;

        .card-icon {
          margin: 0 0 122px;
        }

        .card-text {
          p {
            margin: 9px 0 0;
          }
        }
      }
    }
  }
}

.card-type-08 {
  height: 100%;
  .card-inner {
    padding: 20px;
    height: 100%;

    .card-icon {
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 60px;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 10px;
      margin: 0 0 10px;

      img {
        display: block;
      }
    }

    .card-text {
      h3 {
        margin: 0 0 10px;
      }
      p {
        margin: 0;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    .card-inner {
      .card-icon {
        width: 80px;
        height: 80px;
        border-radius: 20px;
      }
    }
  }

  @include media-breakpoint-up(xl) {
    .card-inner {
      padding: 40px;
      .card-icon {
        margin: 0 0 87px;
      }
    }
  }
}

.card-type-09 {
  width: 100%;
  padding: 83.58% 0 0;
  position: relative;

  .card {
    @include abs;
    padding: 1px;
    text-decoration: none;
    @include card-borders();

    .card-inner {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      z-index: 5;
      width: 100%;
      height: 100%;
      background-color: $black;
      overflow: hidden;
      @include card-borders();
      border-radius: 10px 10px 33px 10px;
      padding: 20px;

      .card-image {
        position: absolute;
        top: 20px;
        bottom: 20px;
        right: 0;
        left: 20px;
        z-index: 2;

        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .card-top {
        position: relative;
        z-index: 3;
        display: flex;
        justify-content: space-between;
        flex: 0 0 auto;
      }

      .card-text {
        position: relative;
        z-index: 3;

        p {
          margin: 0;
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    padding: 123.07% 0 0;

    .card {
      .card-inner {
        .card-image {
          top: 40px;
          bottom: 40px;
          left: 40px;
        }
      }
    }
  }

  @include media-breakpoint-up(xl) {
    .card {
      .card-inner {
        padding: 38px 37px 40px 32px;

        .card-top {
          padding: 0 3px 0 8px;
        }
      }
    }
  }
}

.card-type-10 {
  height: 100%;
  .card {
    height: 100%;

    .card-inner {
      position: relative;
      z-index: 5;
      width: 100%;
      height: 100%;
      padding: 19px;

      h3 {
        margin: 0 0 92px;
      }

      p {
        margin: 0;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    width: 100%;
    height: auto;

    .card {
      .card-inner {
        h3 {
          font-size: 1.4rem;
        }
        p {
          min-height: 4.2em;
        }
      }
    }
  }
  @include media-breakpoint-up(xl) {
    .card {
      .card-inner {
        padding: 41px 39px 37px;

        h3 {
          font-size: 1.555rem;
          margin: 0 0 100px;
        }
      }
    }
  }
}

.card-type-11 {
  width: 100%;

  .card-image {
    margin: 0 0 10px;

    img {
      display: block;
      width: 100%;
      height: auto;
      @include card-borders();
    }
  }

  .card-inner {
    display: flex;
    justify-content: space-between;

    p {
      margin: 0;
    }
  }

  @include media-breakpoint-up(lg) {
    .card-inner {
      h3 {
        font-size: 1.2rem;
      }
    }
  }

  @include media-breakpoint-up(xl) {
    .card-inner {
      h3 {
        font-size: 1.555rem;
      }
    }
  }
}

.card-type-12 {
  width: 100%;
  padding: 100% 0 0;

  .card {
    @include abs;

    .card-image {
      position: absolute;
      left: 1px;
      top: 1px;
      right: 1px;
      bottom: 1px;

      img {
        display: block;
        width: 100%;
        height: auto;
        @include card-borders();
      }
    }
  }
}

.card-type-13 {
  .card {
    position: relative;
    @include card-borders();
    overflow: hidden;

    &:before {
      content: "";
      position: absolute;
      z-index: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      padding: 1px;
      background: #050505;
      -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      @include card-borders;
    }

    &:after {
      content: "";
      position: absolute;
      width: 25px;
      height: 25px;
      background-color: #000;
      position: absolute;
      bottom: 0;
      right: 0;
      transform: rotate(45deg) translate3d(56%, 0, 0);
      opacity: 1;
    }

    .card-inner {
      display: flex;
      flex-direction: column;
      padding: 19px;
      min-height: 400px;

      .card-text {
        font-weight: 500;
        font-size: 24px;
        line-height: 1;
        letter-spacing: -0.01em;
        color: $dark;
        margin: 0 0 20px;
      }

      .card-bottom {
        margin-top: auto;
        display: flex;
        justify-content: space-between;
      }

      .card-author {
        display: flex;
        color: $text-color;
        font-size: 12px;
        line-height: 1.4;
        letter-spacing: 0;

        figure {
          margin: 0 10px 0 0;
          flex: 0 0 auto;
          width: 40px;

          img {
            display: block;
            width: 100%;
            height: auto;
            border-radius: 5px;
          }
        }

        p {
          margin: 0;
          font-weight: 500;
          font-size: 14px;
          color: $dark;
          letter-spacing: 0.01em;
        }
      }

      .arrow-icon-wrapper {
        background: #f6f6f6;
      }
    }
  }

  @include media-breakpoint-up(md) {
    .card {
      &:before {
        background: linear-gradient(180deg, rgba($case-border, 0.8), rgba(#5a5a5a, 0.8));
      }

      .card-inner {
        .card-author {
          color: $dark;
          font-size: 14px;
          letter-spacing: 0.01em;

          figure {
            width: 50px;

            img {
              border-radius: 10px;
            }
          }

          p {
            font-weight: 400;
            font-size: 18px;
            letter-spacing: 0;
          }
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    .card {
      .card-inner {
        min-height: 340px;
        padding: 39px;

        .card-text {
          font-size: 28px;
          line-height: 1.2;
        }
      }
    }
  }

  @include media-breakpoint-up(xl) {
    .card {
      &:after {
        background-color: #434343;
        width: 40px;
        height: 40px;
        transform: rotate(45deg) translate3d(59%, 0, 0);
      }
    }
  }
}

.card-type-14 {
  height: 100%;
  @include card-border;

  .card-inner {
    height: 100%;
    padding: 20px;

    h3 {
      line-height: 1;
      min-height: 2em;
      margin: 0 0 35px;
    }

    p {
      margin: 0;
    }
  }

  @include media-breakpoint-up(lg) {
    .card-inner {
      padding: 40px 40px 65px;

      h3 {
        line-height: 1.2;
        min-height: 2.4em;
        margin: 0 0 100px;
      }
    }
  }
  @include media-breakpoint-up(xl) {
    .card-inner {
      h3 {
        margin: 0 0 192px;
      }
    }
  }
}

.card-type-15 {
  height: 100%;

  .card-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-height: 400px;
  }

  h2 {
    margin: 0 0 20px;
  }

  ul {
    margin: 0 0 20px;
    padding: 0 0 0 20px;
  }

  .card-icons {
    margin-top: auto;
    display: flex;

    span {
      margin: 0 5px 0 0;
    }
  }

  @include media-breakpoint-up(xl) {
    .card-inner {
      padding: 40px 40px 32px;
      min-height: 537px;
    }
    h2 {
      margin: 0 0 37px;
    }
    ul {
      padding: 0 0 0 15px;
    }
  }
}

.card-type-16 {
  height: 400px;

  .card,
  .card-inner {
    height: 100%;
  }
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.card-type-17 {
  height: 260px;

  .card {
    height: 100%;
  }

  .card-inner {
    height: 100%;
    padding: 20px;
    position: relative;
  }

  h4 {
    color: var(--color-main);
    font-size: 14px;
    line-height: 1.4;
    margin: 0 0 10px;
  }

  h3 {
    line-height: 1;
    margin: 0 0 26px;
  }

  ul {
    margin: 0;
    padding: 0 0 0 15px;
  }

  .term {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  @include media-breakpoint-up(lg) {
    height: 400px;

    .card-inner {
      padding: 40px;
    }

    h4 {
      font-size: 18px;
      margin: 0 0 5px;
    }

    h3 {
      line-height: 1.2;
      margin: 0 0 10px;
    }

    ul {
      padding: 0 0 0 25px;
    }

    .term {
      position: static;
      display: block;
      margin: 0 0 19px;
    }
  }
}

.card-type-18 {
  width: 100%;
  padding: 128.5% 0 0;
  position: relative;

  &:before {
    content: "";
    @include abs;
    @include gradient-y(rgba(218, 218, 218, 0.8), rgba(90, 90, 90, 0.8));
    @include card-borders();
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
    @include gradient-base(90deg);
    @include card-borders();
  }

  .card {
    @include abs;
    padding: 1px;
    text-decoration: none;
    overflow: hidden;
    @include card-borders();
    position: absolute !important;

    .card-inner {
      height: 100%;
      position: relative;
      z-index: 5;
      padding: 19px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include card-borders();
      background-color: $black;

      .card-top {
        display: flex;
        justify-content: space-between;
        margin: 0 0 15px;
      }

      .card-text {
        font-weight: 500;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: -0.01em;
      }

      .card-author {
        margin-top: auto;
        display: flex;

        figure {
          margin: 0 10px 0 0;
          flex: 0 0 auto;
          width: 40px;

          img {
            display: block;
            width: 100%;
            height: auto;
            border-radius: 5px;
          }
        }

        p {
          margin: 0;
          color: $headline-color;
        }
      }
    }
  }

  &:hover,
  &:focus,
  &.active {
    &:before {
      opacity: 0;
    }
    &:after {
      opacity: 1;
    }
  }

  @include media-breakpoint-up(sm) {
    padding: 123% 0 0;
  }

  @include media-breakpoint-up(lg) {
    .card {
      .card-inner {
        padding: 39px;

        .card-top {
          margin: 0 0 11px;
        }

        .card-text {
          line-height: 1.22;
          font-size: 1.555rem;
        }

        .card-author {
          figure {
            width: 50px;

            img {
              border-radius: 10px;
            }
          }

          div {
            font-size: 0.78rem;

            p {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}
