.contact-form {
  p {
    margin: 0;
  }

  h3 {
    margin: 20px 0 10px;
  }

  .form-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;

    .form-col {
      width: 50%;
      padding: 0 5px;
    }
  }

  .field {
    position: relative;
    margin: 0 0 10px;
    width: 100%;
    background: $tab-bg;
    border-radius: 5px;

    &.error {
      margin-bottom: 23px;
    }

    input,
    textarea {
      width: 100%;
      height: 40px;
      padding: 13px 18px;
      font-size: 12px;
      line-height: 14px;
      color: $text-color;
      @include placeholder-text($placeholder-color, 1);
      background: none;
      border: 1px solid transparent;
      border-radius: 5px;
      resize: none;
      overflow: hidden;

      &:focus {
        outline: none;
        box-shadow: none;
        border-color: transparent;
      }

      &:not(:placeholder-shown) {
        color: $headline-color;
      }

      &.error {
        border-color: $error;
        @include placeholder-text($error, 1);

        & + .error-msg {
          display: block;
        }
      }
    }

    textarea {
      padding: 14px 18px 12px;
    }

    .form-add-file {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 53px;
      background: url(../img/icons/file-m.svg) 50% no-repeat;

      input {
        @include abs;
        width: 100%;
        height: 100%;
        opacity: 0;
      }
    }

    .error-msg {
      position: absolute;
      left: 0;
      top: 100%;
      font-size: 10px;
      color: $error;
      letter-spacing: 0.01em;
      padding: 2px 0 0;
      display: none;
    }
  }

  [type="submit"] {
    margin-top: 10px;
  }

  @include media-breakpoint-up(lg) {
    p {
      max-width: 555px;
      margin: 0 0 52px;
    }

    h3 {
      margin: 23px 0 -5px;
    }

    .tab-nav {
      li {
        label {
          font-size: 0.78rem;
          & > span {
            padding: 15px 20px;
          }
        }
      }
    }

    .form-wrapper {
      margin-top: 11px;
    }

    .field {
      background-color: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(10px);

      input,
      textarea {
        height: 50px;
        padding: 14px 19px;
        font-size: 0.78rem;
        line-height: 1.4;
      }

      .form-add-file {
        width: 50px;
        background-image: url(../img/icons/file.svg);
      }
    }

    [type="submit"] {
      margin-top: 6px;
    }
  }
}
