.tab-nav {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin: 10px 10px 0 0;
    position: relative;

    a,
    label {
      display: block;
      font-size: 12px;
      line-height: 140%;
      letter-spacing: 0.01em;
      color: $link-color;
      // background-color: $tab-bg;
      border-radius: 5px;
      padding: 1px;
      position: relative;
      overflow: hidden;
      transform: translateZ(0);

      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        border-radius: 5px;
        @include gradient-base;
        opacity: 0;
        transition: opacity 0.3s ease;
      }

      & > span {
        display: block;
        position: relative;
        z-index: 1;
        padding: 10.6px 19px;
        border-radius: 5px;
        background-color: $tab-bg;

        &:before {
          content: "";
          position: absolute;
          left: 50%;
          top: 100%;
          width: 300px;
          height: 300px;
          background: rgba(255, 255, 255, 0.2);
          transform: translate3d(-50%, -40%, 0) scale(0);
          transform-origin: center;
          border-radius: 100%;
          transition: transform 0.6s ease-in;
        }

        span {
          position: relative;
          z-index: 2;
        }
      }

      &:hover {
        & > span {
          &:before {
            transform: translate3d(-50%, -40%, 0) scale(1);
          }
        }
      }

      &:focus {
        &:before {
          background: $tab-border-focus;
          opacity: 1;
        }

        & > span {
          overflow: hidden;
          background: #505050;
        }
      }

      &:active {
        &:before {
          background: none;
          @include gradient-base;
          opacity: 1;
        }

        & > span {
          overflow: hidden;
          background-color: #3a3a3a;
        }
      }
    }

    input {
      display: none;
      visibility: hidden;
      opacity: 0;
      position: absolute;
      z-index: -999;
      &:checked + label {
        color: $headline-color;

        &:before {
          opacity: 1;
        }
        & > span {
          background: $tab-bg-active;

          &:before {
            display: none;
          }
        }
      }
    }

    &.active {
      a {
        pointer-events: none;
        &:before {
          opacity: 1;
        }
        & > span {
          background: $tab-bg-active;

          &:before {
            display: none;
          }
        }
      }
    }

    &.disabled {
      a {
        pointer-events: none;
        color: #2a2a2a;
        & > span {
          // background: $tab-bg-active;

          &:before {
            display: none;
          }
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    li {
      a {
        font-size: 14px;

        & > span {
          padding: 14px 19px;
          // background-color: rgba(255, 255, 255, 0.1);
          // backdrop-filter: blur(10px);
          background-color: #3a3a3a;
        }
      }

      label {
        & > span {
          background-color: rgba(255, 255, 255, 0.1);
          backdrop-filter: blur(10px);
        }
      }
    }
  }
}
