.block-number {
  position: relative;
  margin: 0 0 15px;

  &:before {
    content: "";
    display: block;
    height: 4px;
    border: 1px solid $lightgray;
    border-bottom: none;
    border-radius: 4px 4px 0 0;
  }

  .block-number-main {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:after {
      content: "";
      background: $lightgray;
      width: 4px;
      height: 4px;
      border-radius: 100%;
    }

    span {
      font-size: 10px;
      letter-spacing: 0.01em;
    }
  }

  @include media-breakpoint-up(xl) {
    margin: 0 0 20px;

    &:before {
      margin: 0 0 10px;
    }

    .block-number-main {
      &:after {
        width: 6px;
        height: 6px;
      }

      span {
        font-size: 14px;
      }
    }
  }
}

.block-text {
  margin: 0 0 30px;
  p {
    margin: 10px 0 0;
  }

  @include media-breakpoint-up(md) {
    display: flex;
    margin: 0 -10px 37px;

    .col {
      width: 50%;
      padding: 0 10px;
    }

    p {
      margin: 0.6em 0 0;
      max-width: 555px;
    }
  }
}

#moove_gdpr_cookie_info_bar {
  &.moove-gdpr-dark-scheme {
    border: none !important;
    background-color: transparent !important;
    left: 20px;
    bottom: 20px;
    right: 20px;
    width: auto;
    padding: 1px;
    z-index: 990;

    &:before {
      content: "";
      @include abs;
      @include gradient-y(rgba(#e9eef1, 0.5), rgba(#1e1e1e, 0.5));
      @include card-borders();
    }

    .moove-gdpr-info-bar-container {
      display: block;
      @include card-borders();
      background: linear-gradient(180deg, #050505 0%, #191919 100%);
      padding: 20px;
      position: relative;
      z-index: 1;

      .moove-gdpr-info-bar-content {
        .moove-gdpr-cookie-notice {
          font-family: $font-family-base;
          display: flex;
          align-items: center;
          margin: 0 0 10px;

          &:before {
            content: "";
            display: block;
            flex: 0 0 auto;
            width: 36px;
            height: 36px;
            background: rgba(255, 255, 255, 0.1) url(../img/icons/cookies.svg) 50% no-repeat;
            background-size: 21px;
            border-radius: 10px;
            margin: 0 10px 0 0;
          }

          p {
            font-weight: 400;
            font-size: 12px;
            line-height: 130%;
            letter-spacing: 0.01em;
            color: $headline-color;
          }
        }

        .moove-gdpr-button-holder {
          button.mgbutton {
            padding: 0;
            margin: 0;
            background-color: transparent;
            font-family: $font-family-base;
            font-size: 12px;
            line-height: 16px;
            height: 36px;
            width: 100px;

            .btn-icon {
              &:before {
                background: $headline-color url(../img/icons/btn-arrow-dark.svg) 50% no-repeat;
                background-size: 0 0;
              }
            }

            &:hover {
              background-color: transparent;

              .btn-icon {
                &:before {
                  background-size: 7px;
                }
              }
            }

            &.moove-gdpr-infobar-reject-btn {
              margin-left: 10px;

              .btn-wrap {
                background: none;

                &:before {
                  background: none;
                  background-color: rgba(255, 255, 255, 0.1);
                }
              }
            }
          }
        }
      }
    }

    @include media-breakpoint-up(md) {
      .moove-gdpr-info-bar-container {
        .moove-gdpr-info-bar-content {
          padding-left: 0;
          padding-right: 0;
          justify-content: space-between;
          .moove-gdpr-cookie-notice {
            margin: 0;
          }
        }
      }
    }

    @include media-breakpoint-up(lg) {
      .moove-gdpr-info-bar-container {
        .moove-gdpr-info-bar-content {
          .moove-gdpr-cookie-notice {
            &:before {
              width: 80px;
              height: 80px;
              background-size: 32px;
              border-radius: 20px;
              margin: 0 20px 0 0;
            }

            p {
              font-size: 18px;
              line-height: 140%;
              letter-spacing: 0;
            }
          }

          .moove-gdpr-button-holder {
            button.mgbutton {
              width: 160px;
              height: 50px;
              letter-spacing: 0.01em;

              .btn-inner {
                padding-right: 20px;
                font-size: 16px;
                line-height: 19px;
              }

              .btn-icon {
                &:before {
                  width: 6px;
                  height: 6px;
                }
              }

              &:hover {
                .btn-icon {
                  &:before {
                    width: 30px;
                    height: 30px;
                    background-size: 10px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.tab-menu-wrapper {
  overflow: auto;
  @include hidescroll;
  margin-right: -20px;

  .tab-nav {
    display: inline-flex;
    flex-wrap: nowrap;
    white-space: nowrap;

    li {
      margin-top: 0;
    }
  }
}
