.page-intro {
  padding: 0 0 34px;
  position: relative;

  .block-number {
    position: relative;
    z-index: 1;
  }

  .container {
    position: relative;

    &:before {
      @include bg-blue;
    }
    &:after {
      @include bg-green;
    }
    @include bg-before(1000px, -584px, -432px);
    @include bg-after(600px, 57px, -269px);
  }

  .image {
    img {
      mix-blend-mode: screen;
      position: relative;
      z-index: 1;
      display: block;
    }
  }

  .txt-lg {
    position: relative;
    z-index: 1;
  }

  .text {
    position: relative;
    z-index: 1;
    p {
      margin: 0 0 1.4rem;
    }
  }

  @include media-breakpoint-up(sm) {
    .wrapper {
      &:after {
        content: "";
        display: block;
        clear: both;
      }
    }

    .txt-lg {
      float: left;
      width: 50%;
      margin: -0.1em -50px 70px 0;
    }

    .image {
      float: right;
      width: calc(50% + 50px);
      margin: 0;
    }

    .text {
      clear: left;
      float: left;
      width: 40%;
      max-width: 24rem;
      margin: 0 -50px 0 0;
    }
  }

  @include media-breakpoint-up(lg) {
    padding: 0;

    .container {
      @include bg-before(1800px, -680px, -590px);
      @include bg-after(1400px, 150px, -465px);
    }

    .txt-lg {
      margin: -0.1em 0 70px 0;
    }

    .image {
      width: 50%;

      .image01 {
        width: 120%;
        float: right;
      }
    }

    .text {
      margin: 0;
      max-width: 443px;
    }
  }

  @media (min-width: 1280px) and (max-width: 1359px) {
    .txt-lg {
      margin-bottom: 100px !important;
    }
  }

  @media (min-width: 1360px) and (max-width: 1439px) {
    .txt-lg {
      margin-bottom: 150px !important;
    }
  }

  @include media-breakpoint-up(xl) {
    .txt-lg {
      margin: -0.1em 0 70px 0;
    }

    .text {
      p {
        margin: 0 0 20px;
      }
    }
  }

  &.page-intro-home {
    .image {
      margin: -35px -20px 0;
      position: relative;
      z-index: 5;

      .image01 {
        display: block;
        width: 100%;
        height: auto;
      }

      .img-animation {
        position: absolute;
        left: 32.27%;
        top: 26%;
        width: 18.75%;
        height: 20.5%;
        background: url(../img/bg/home-animation-bg.png) no-repeat;
        background-size: 100% 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.5s;

        svg {
          width: 58.5%;
          height: 58.33%;
          margin: 0 0 2.5% 5%;

          path {
            stroke-dasharray: 400;
            stroke-dashoffset: 400;
          }
        }

        &.animated {
          opacity: 1;

          svg {
            path {
              animation: stroke 3s linear 0.5s forwards;
            }
          }
        }
      }

      @keyframes stroke {
        0% {
          stroke-dashoffset: 400;
        }
        100% {
          stroke-dashoffset: 0;
        }
      }
    }

    .txt-lg {
      z-index: 9;
    }

    @include media-breakpoint-up(sm) {
      .image {
        margin: 0;

        .image01 {
          width: 100%;
          transform: none;
        }
      }
    }

    @include media-breakpoint-up(md) {
      .image {
        margin: 0;
        position: relative;

        .image01 {
          width: 100%;
          transform: none;
        }
      }
    }

    @include media-breakpoint-up(lg) {
      .image {
        position: relative;
        right: 40px;
      }
    }

    @include media-breakpoint-up(xl) {
      padding-bottom: 73px;
      .image {
        margin: 0;
        width: auto;
        position: absolute;
        top: 58px;
        right: 40px;
        margin: 0;

        .image01 {
          width: auto;
          max-width: none;
          margin: 0;
        }
      }
      .txt-lg {
        margin-bottom: 274px;
      }
    }
    @include media-breakpoint-up(xxl) {
      .image {
        top: 90px;
        right: 197px;
      }
    }
  }

  &.page-intro-projects {
    .image {
      margin: -60px 20px 0;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    @include media-breakpoint-up(sm) {
      .image {
        margin: 0;
      }
    }

    @include media-breakpoint-up(lg) {
      .txt-lg {
        margin-bottom: 150px;
      }
      .image {
        margin: 0;
        padding: 0;
        position: absolute;
        right: 20px;
        top: 29px;
        width: 42vw;
        max-width: 695px;
        img {
          max-width: 100%;
        }
      }
    }

    @include media-breakpoint-up(xl) {
      padding-bottom: 94px;
      .txt-lg {
        margin-bottom: 250px;
      }
      .image {
        right: 125px;
      }
    }
  }

  &.page-intro-services {
    .image {
      margin: -69px 0px -40px -44px;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    @include media-breakpoint-up(sm) {
      .image {
        margin: 0;
      }
    }

    @include media-breakpoint-up(lg) {
      .txt-lg {
        margin-bottom: 70px;
      }
    }

    @include media-breakpoint-up(xl) {
      .image {
        margin: -100px -10px -5px 0;

        img {
          width: auto;
          max-width: none;
          float: right;
        }
      }
      .txt-lg {
        margin-bottom: 265px;
      }
      .text {
        p {
          max-width: 440px;
        }
      }
    }
  }

  &.page-intro-about {
    .txt-lg {
      margin-top: -3px;
      margin-bottom: 83px;
      line-height: 0.915;

      .word {
        margin: -2rem 0;
      }
    }

    @include media-breakpoint-up(sm) {
      .txt-lg {
        float: none;
        width: auto;
        margin-right: 0;
      }

      .text {
        float: none;
        width: auto;
        margin: 0;
      }
    }

    @include media-breakpoint-up(lg) {
      .text {
        max-width: 560px;
      }
    }

    @media (min-width: 1280px) {
      .txt-lg {
        max-width: 80%;
      }
    }

    @include media-breakpoint-up(xl) {
      padding-bottom: 60px;

      .txt-lg {
        margin-bottom: 118px;
        margin-right: -100px;
        max-width: none;

        [data-word="choose"],
        .txt-gradient {
          margin-left: 6.4rem;
        }
      }
    }

    @media (min-width: 1800px) {
      .txt-lg {
        max-width: 80vw;
      }
    }
  }

  &.page-intro-thank {
    min-height: calc(100vh - 50px);

    .txt-lg {
      margin-top: -3px;
      margin-bottom: 215px;

      .word {
        .char {
          line-height: 1.05;
        }
      }

      .txt-lg-last {
        @include media-breakpoint-down(lg) {
          margin-left: 0;
        }
      }
    }

    .image {
      margin: 0;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    @include media-breakpoint-up(sm) {
      .wrapper {
        position: relative;
      }

      .txt-lg {
        float: none;
        width: 30rem;
        margin-right: 0;
      }

      .text {
        float: none;
        width: 30rem;
        margin: 0;
      }

      .image {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-40%);
        width: 45vw;
        z-index: 5;
      }
    }

    @include media-breakpoint-up(lg) {
      min-height: calc(100vh - 60px);
      padding-bottom: 50px;

      .wrapper {
        position: relative;
      }

      .txt-lg {
        width: 40rem;
      }
    }

    @include media-breakpoint-up(xl) {
      .txt-lg {
        width: 50rem;
        margin-top: -20px;
        margin-bottom: 110px;
      }

      .image {
        right: -12px;
        transform: translate3d(13%, -44.6%, 0);
        width: 46vw;
      }

      .text {
        p {
          max-width: 440px;
        }
      }
    }
  }

  &.page-intro-error {
    min-height: calc(100vh - 110px);
    .image {
      margin: 50px -90px 58px 0;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    .txt-lg {
      .txt-lg-last {
        @include media-breakpoint-down(md) {
          margin-left: 0;
        }
      }
    }

    @include media-breakpoint-up(sm) {
      position: relative;
      .txt-lg {
        float: none;
        width: auto;
        margin: 0 0 100px;
      }
      .text {
        clear: left;
        float: none;
        width: auto;
        max-width: 24rem;
        margin: 0;
      }
      .image {
        position: absolute;
        bottom: 25%;
        right: -50px;
        margin: 0;
      }
    }

    @include media-breakpoint-up(md) {
      .image {
        bottom: 10%;
      }
    }

    @include media-breakpoint-up(lg) {
      min-height: calc(100vh - 140px);
    }

    @include media-breakpoint-up(xl) {
      .txt-lg {
        margin: -20px 0 276px;

        .txt-gradient {
          padding: 0 5px 0 0;
        }
      }
      .image {
        bottom: 12%;
        right: 20px;
      }
    }

    @include media-breakpoint-up(xxl) {
      .txt-lg {
        margin: -20px 0 276px;

        .txt-gradient {
          padding: 0 5px 0 0;
        }
      }
      .image {
        bottom: 12%;
        right: 104px;
      }
    }
  }

  &.page-intro-contact {
    .txt-lg {
      margin-top: -3px;
      margin-bottom: 8px;
      line-height: 0.915;

      .word {
        margin: -2rem 0;
      }
    }

    @include media-breakpoint-up(sm) {
      .txt-lg {
        float: none;
        width: auto;
        margin-right: 0;
      }
    }

    @include media-breakpoint-up(xl) {
      padding-bottom: 60px;

      .txt-lg {
        margin-bottom: 117px;

        .txt-gradient {
          margin-left: 6.4rem;
        }
      }
    }
  }

  &.page-intro-case {
    padding: 0 0 38px;

    .container {
      &:after {
        display: none;
      }
    }

    .txt-lg {
      margin-top: -3px;
      margin-bottom: 0;
      line-height: 0.9;

      .word {
        margin: -2rem 0;
      }
    }

    .image {
      margin: 0 0 0 -32px;
      position: relative;
      z-index: 2;

      img {
        display: block;
        max-width: 100%;
        height: auto;
      }
    }

    .video {
      width: 100%;
      max-width: 1046px;
      margin: 0 auto;

      .inner {
        padding: 62.8% 0 0;
        position: relative;
      }

      video,
      img,
      iframe {
        @include abs;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    @include media-breakpoint-up(sm) {
      .txt-lg {
        float: none;
        width: auto;
        margin-right: 0;
      }

      .image {
        float: none;
        width: 61vw;
        transform: translateX(-8vw);
        margin: 0 auto;
      }
    }

    @include media-breakpoint-up(xl) {
      padding: 0 0 70px;

      .image {
        transform: translateX(-3.47vw);
        // margin: -123px auto 0;
      }
    }
  }

  &.page-intro-career {
    padding: 0 0 55px;

    .txt-lg {
      margin: 0 -13px 114px 0;
    }

    @include media-breakpoint-up(sm) {
      .txt-lg {
        margin-right: 0;
        float: none;
        width: auto;
      }

      .text {
        float: none;
        width: auto;
        margin: 0;
      }
    }
    @include media-breakpoint-up(md) {
      .txt-lg {
        .txt-gradient {
          br {
            display: none;
          }
        }
      }
    }

    @include media-breakpoint-up(lg) {
      padding: 0 0 110px;

      .txt-lg {
        margin-bottom: 98px;
      }

      .text {
        max-width: 555px;
      }
    }
  }

  &.page-intro-marketplace {
    padding: 0 0 52px;

    .container {
      &:before {
        background-image: url(../img/bg/dark-blue.webp);
        background-size: 150%;
      }
      &:after {
        display: none;
      }
      @include bg-before(692px, -271px, -335px);
    }

    .wrapper {
      position: relative;
    }

    .d-none {
      display: none;
    }

    .txt-lg {
      margin: 0 0 219px;
      position: relative;
      z-index: 2;
      line-height: 0.93;
    }

    .image {
      position: absolute;
      left: 5px;
      right: 6px;
      top: 50px;
      img {
        display: block;
        max-width: 100%;
        height: auto;
      }
    }

    .text {
      position: relative;
      z-index: 2;
    }

    @include media-breakpoint-up(sm) {
      .d-sm-none {
        display: none;
      }
      .d-sm-block {
        display: block;
      }

      .txt-lg {
        float: none;
        width: auto;
      }

      .image {
        left: auto;
        right: 0;
        width: 50%;
      }

      .text {
        float: none;
        width: auto;
      }
    }

    @include media-breakpoint-up(lg) {
      padding: 0;
      margin: 0 0 110px;

      .container {
        &:after {
          background-image: url(../img/bg/dark-blue.webp);
          display: block;
        }
        @include bg-before(47.2vw, -17.1vw, -18.75vw);
        @include bg-after(47.2vw, 29.17vw, -29.17vw);
      }

      .image {
        top: -25px;
        right: -10px;
      }
      .txt-lg {
        margin: 0 0 272px;
      }
      .text {
        max-width: 555px;
      }
    }
  }
}
