.page-intro {
  padding: 0 0 34px;
  position: relative;

  .block-number {
    position: relative;
    z-index: 1;
  }

  .container {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      width: 473px;
      height: 473px;
      right: -212px;
      top: -223px;
      background: #001625;
      filter: blur(250px);
      border-radius: 100%;
      will-change: transform;
    }

    &:after {
      content: "";
      position: absolute;
      width: 473px;
      height: 473px;
      left: -188px;
      top: 274px;
      background: #001f1e;
      filter: blur(250px);
      border-radius: 100%;
      will-change: transform;
    }
  }

  .image {
    img {
      mix-blend-mode: screen;
      position: relative;
      z-index: 1;
      display: block;
    }
  }

  .txt-lg {
    position: relative;
    z-index: 1;
    margin-top: -0.1em;

    .txt-lg-last {
      margin-top: -0.15em;
    }
  }

  .text {
    position: relative;
    z-index: 1;
    p {
      margin: 0 0 1.4rem;
      color: #d6d6d6;
    }
  }

  @include media-breakpoint-up(sm) {
    .wrapper {
      &:after {
        content: "";
        display: block;
        clear: both;
      }
    }

    .txt-lg {
      float: left;
      width: 50%;
      margin: -0.1em -50px 70px 0;
    }

    .image {
      float: right;
      width: calc(50% + 50px);
      margin: 0;
    }

    .text {
      clear: left;
      float: left;
      width: 40%;
      max-width: 24rem;
      margin: 0 -50px 0 0;
    }
  }

  @include media-breakpoint-up(lg) {
    padding: 0;

    .container {
      &:before {
        width: 82vw;
        height: 82vw;
        right: -33.33vw;
        top: -28vw;
      }
      &:after {
        width: 52.8vw;
        height: 52.8vw;
        left: 31vw;
        top: 25vw;
      }
    }

    .txt-lg {
      margin: -0.1em 0 70px 0;
    }

    .image {
      width: 50%;

      .image01 {
        width: 120%;
        float: right;
      }
    }

    .text {
      margin: 0;
    }
  }

  @include media-breakpoint-up(xl) {
    .txt-lg {
      margin: -0.1em 0 70px 0;
    }

    .text {
      p {
        margin: 0 0 20px;
      }
    }
  }

  &.page-intro-home {
    .image {
      margin: 0 -20px;
      .switch {
        display: none;
      }

      .image01 {
        display: block;
        width: 119%;
        height: auto;
        transform: translateX(-2.5%);
      }
    }

    @include media-breakpoint-up(sm) {
      .image {
        margin: 0;

        .image01 {
          width: 100%;
          transform: none;
        }
      }
    }

    @include media-breakpoint-up(md) {
      .image {
        margin: 0;
        position: relative;

        .image01 {
          width: 100%;
          transform: none;
        }
      }
    }

    @include media-breakpoint-up(lg) {
      .image {
        .switch {
          width: 180px;
          height: auto;
          display: block;
          position: absolute;
          bottom: 0;
          right: -15px;
          cursor: pointer;

          .switch-on {
            display: block;
          }

          .switch-off {
            display: none;
          }

          &.active {
            .switch-on {
              display: none;
            }
            .switch-off {
              display: block;
            }
          }
        }
      }
    }

    @include media-breakpoint-up(xl) {
      .image {
        margin: 15px 0 0;

        .image01 {
          width: auto;
          float: right;
          max-width: none;
          margin: 0 -24px 0 0;
        }

        .switch {
          width: auto;
          bottom: 115px;
        }
      }
      .txt-lg {
        margin-bottom: 245px;
      }
    }
  }

  &.page-intro-projects {
    .image {
      margin: -30px 20px -15px;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    @include media-breakpoint-up(sm) {
      .image {
        margin: 0;
      }
    }

    @include media-breakpoint-up(lg) {
      .txt-lg {
        margin-bottom: 150px;
      }
    }

    @include media-breakpoint-up(xl) {
      .image {
        margin: -49px 0 0;
        padding: 0 26px 0 0;

        img {
          width: auto;
          max-width: none;
          float: right;
        }
      }
      .txt-lg {
        margin-bottom: 220px;
      }
    }
  }

  &.page-intro-services {
    .image {
      margin: -69px 0px -40px -44px;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    @include media-breakpoint-up(sm) {
      .image {
        margin: 0;
      }
    }

    @include media-breakpoint-up(lg) {
      .txt-lg {
        margin-bottom: 70px;
      }
    }

    @include media-breakpoint-up(xl) {
      .image {
        margin: -114px -40px -5px 0;

        img {
          width: auto;
          max-width: none;
          float: right;
        }
      }
      .txt-lg {
        margin-bottom: 245px;
      }
    }
  }

  &.page-intro-about {
    .txt-lg {
      margin-top: -3px;
      margin-bottom: 83px;

      .word {
        margin: -2rem 0;
      }
    }

    @include media-breakpoint-up(sm) {
      .txt-lg {
        float: none;
        width: auto;
        margin-right: 0;
      }

      .text {
        float: none;
        width: auto;
        margin: 0;
      }
    }

    @include media-breakpoint-up(xl) {
      padding-bottom: 60px;

      .txt-lg {
        margin-bottom: 121px;
      }
    }
  }

  &.page-intro-thank {
    min-height: calc(100vh - 50px);

    .txt-lg {
      margin-top: -3px;

      .word {
        margin: -2rem 0;
      }
    }

    .image {
      margin: 0;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    @include media-breakpoint-up(sm) {
      .wrapper {
        position: relative;
      }

      .txt-lg {
        float: none;
        width: 30rem;
        margin-right: 0;
      }

      .text {
        float: none;
        width: 30rem;
        margin: 0;
      }

      .image {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-40%);
        width: 45vw;
        z-index: 5;
      }
    }

    @include media-breakpoint-up(lg) {
      min-height: calc(100vh - 60px);

      .wrapper {
        position: relative;
      }

      .txt-lg {
        width: 40rem;
      }
    }

    @include media-breakpoint-up(xl) {
      .txt-lg {
        width: 50rem;
        margin-bottom: 122px;
      }

      .image {
        right: -12px;
        transform: translateY(-43%);
        width: 46vw;
      }
    }
  }

  &.page-intro-contact {
    .txt-lg {
      margin-top: -3px;
      margin-bottom: 8px;

      .word {
        margin: -2rem 0;
      }
    }

    @include media-breakpoint-up(sm) {
      .txt-lg {
        float: none;
        width: auto;
        margin-right: 0;
      }
    }

    @include media-breakpoint-up(lg) {
      .container {
        &:after {
          left: -380px;
          top: 429px;
        }
      }
    }

    @include media-breakpoint-up(xl) {
      padding-bottom: 60px;

      .txt-lg {
        margin-bottom: 66px;
      }
    }
  }
}
