.page-intro {
  padding: 0 0 34px;
  position: relative;

  .block-number {
    position: relative;
    z-index: 1;
  }

  .container {
    position: relative;

    &:before {
      @include bg-blue;
    }
    &:after {
      @include bg-green;
    }
    @include bg-before(1000px, -584px, -432px);
    @include bg-after(600px, 57px, -269px);
  }

  .image {
    img {
      mix-blend-mode: screen;
      position: relative;
      z-index: 1;
      display: block;
    }
  }

  .txt-lg {
    position: relative;
    z-index: 1;
    margin-top: -0.1em;

    .txt-lg-last {
      margin-top: -0.15em;
    }
  }

  .text {
    position: relative;
    z-index: 1;
    p {
      margin: 0 0 1.4rem;
    }
  }

  @include media-breakpoint-up(sm) {
    .wrapper {
      &:after {
        content: "";
        display: block;
        clear: both;
      }
    }

    .txt-lg {
      float: left;
      width: 50%;
      margin: -0.1em -50px 70px 0;
    }

    .image {
      float: right;
      width: calc(50% + 50px);
      margin: 0;
    }

    .text {
      clear: left;
      float: left;
      width: 40%;
      max-width: 24rem;
      margin: 0 -50px 0 0;
    }
  }

  @include media-breakpoint-up(lg) {
    padding: 0;

    .container {
      @include bg-before(1800px, -680px, -590px);
      @include bg-after(1400px, 150px, -465px);
    }

    .txt-lg {
      margin: -0.1em 0 70px 0;
    }

    .image {
      width: 50%;

      .image01 {
        width: 120%;
        float: right;
      }
    }

    .text {
      margin: 0;
    }
  }

  @include media-breakpoint-up(xl) {
    .txt-lg {
      margin: -0.1em 0 70px 0;
    }

    .text {
      p {
        margin: 0 0 20px;
      }
    }
  }

  &.page-intro-home {
    .image {
      margin: 0 -20px;

      .image01 {
        display: block;
        width: 119%;
        height: auto;
        transform: translateX(-2.5%);
      }
    }

    @include media-breakpoint-up(sm) {
      .image {
        margin: 0;

        .image01 {
          width: 100%;
          transform: none;
        }
      }
    }

    @include media-breakpoint-up(md) {
      .image {
        margin: 0;
        position: relative;

        .image01 {
          width: 100%;
          transform: none;
        }
      }
    }

    @include media-breakpoint-up(xl) {
      padding-bottom: 20px;
      .image {
        margin: 15px 0 0;

        .image01 {
          width: auto;
          float: right;
          max-width: none;
          margin: 0 -24px 0 0;
        }
      }
      .txt-lg {
        margin-bottom: 266px;
      }
    }
  }

  &.page-intro-projects {
    .image {
      margin: -30px 20px -15px;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    @include media-breakpoint-up(sm) {
      .image {
        margin: 0;
      }
    }

    @include media-breakpoint-up(lg) {
      .txt-lg {
        margin-bottom: 150px;
      }
    }

    @include media-breakpoint-up(xl) {
      .image {
        margin: -28px 0 0;
        padding: 0 37px 0 0;

        img {
          width: auto;
          max-width: none;
          float: right;
        }
      }
      .txt-lg {
        margin-bottom: 220px;
      }
    }
  }

  &.page-intro-services {
    .image {
      margin: -69px 0px -40px -44px;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    @include media-breakpoint-up(sm) {
      .image {
        margin: 0;
      }
    }

    @include media-breakpoint-up(lg) {
      .txt-lg {
        margin-bottom: 70px;
      }
    }

    @include media-breakpoint-up(xl) {
      .image {
        margin: -100px -10px -5px 0;

        img {
          width: auto;
          max-width: none;
          float: right;
        }
      }
      .txt-lg {
        margin-bottom: 265px;
      }
    }
  }

  &.page-intro-about {
    .txt-lg {
      margin-top: -3px;
      margin-bottom: 83px;
      line-height: 0.915;

      .word {
        margin: -2rem 0;
      }
    }

    @include media-breakpoint-up(sm) {
      .txt-lg {
        float: none;
        width: auto;
        margin-right: 0;
      }

      .text {
        float: none;
        width: auto;
        margin: 0;
      }
    }

    @include media-breakpoint-up(xl) {
      padding-bottom: 60px;

      .txt-lg {
        margin-bottom: 118px;
        margin-right: -100px;

        [data-word="choose"],
        .txt-gradient {
          margin-left: 6.4rem;
        }
      }
    }
  }

  &.page-intro-thank {
    min-height: calc(100vh - 50px);

    .txt-lg {
      margin-top: -3px;

      .word {
        margin: -2rem 0;
      }
    }

    .image {
      margin: 0;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    @include media-breakpoint-up(sm) {
      .wrapper {
        position: relative;
      }

      .txt-lg {
        float: none;
        width: 30rem;
        margin-right: 0;
      }

      .text {
        float: none;
        width: 30rem;
        margin: 0;
      }

      .image {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-40%);
        width: 45vw;
        z-index: 5;
      }
    }

    @include media-breakpoint-up(lg) {
      min-height: calc(100vh - 60px);
      padding-bottom: 50px;

      .wrapper {
        position: relative;
      }

      .txt-lg {
        width: 40rem;
      }
    }

    @include media-breakpoint-up(xl) {
      .txt-lg {
        width: 50rem;
        margin-bottom: 93px;
      }

      .image {
        right: -12px;
        transform: translate3d(13%, -44.6%, 0);
        width: 46vw;
      }
    }
  }

  &.page-intro-contact {
    .txt-lg {
      margin-top: -3px;
      margin-bottom: 8px;
      line-height: 0.915;

      .word {
        margin: -2rem 0;
      }
    }

    @include media-breakpoint-up(sm) {
      .txt-lg {
        float: none;
        width: auto;
        margin-right: 0;
      }
    }

    @include media-breakpoint-up(xl) {
      padding-bottom: 60px;

      .txt-lg {
        margin-bottom: 117px;

        .txt-gradient {
          margin-left: 6.4rem;
        }
      }
    }
  }
}
