.block-journal {
  padding: 20px 0 34px;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 473px;
    height: 473px;
    right: -144px;
    top: -133px;
    background: #001625;
    filter: blur(250px);
    border-radius: 100%;
    will-change: transform;
  }

  .container {
    position: relative;
    z-index: 1;
  }

  .block-text {
    margin-bottom: 20px;
  }

  @include media-breakpoint-up(lg) {
    padding: 50px 0;

    &:before {
      width: 58.6vw;
      height: 58.6vw;
      right: -504px;
      top: -190px;
    }

    .block-text {
      margin-bottom: 38px;
    }
  }
}
