.block-team {
  padding: 20px 0 34px;
  position: relative;

  &:before {
    @include bg-blue;
  }
  @include bg-before(1000px, -186px, -145px);

  .container {
    position: relative;
    z-index: 1;
  }

  .block-text {
    margin-bottom: 22px;
  }

  .btn-centered {
    display: none;
  }

  @include media-breakpoint-up(lg) {
    padding: 62px 0;

    &:before {
      @include bg-green;
    }
    @include bg-before(1400px, -168px, -580px);

    .block-text {
      margin-bottom: 37px;
    }

    .btn-centered {
      display: block;
      padding: 24px 0 0;
    }

    .swiper-03 {
      display: none;
    }
  }
}

.team-list {
  display: none;

  @include media-breakpoint-up(lg) {
    display: block;

    .wrapper {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -10px;

      .col {
        width: 25%;
        padding: 0 10px;
      }
    }
  }
}

.team-more-list {
  display: none;

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    row-gap: 50px;
    padding: 50px 0 0;

    .col {
      width: 25%;
      padding: 0 10px;
    }
  }
}
