.block-journal {
  padding: 20px 0 34px;
  position: relative;

  &:before {
    @include bg-green;
  }
  @include bg-before(600px, -233px, -321px);

  .container {
    position: relative;
    z-index: 1;
  }

  .block-text {
    margin-bottom: 20px;
  }

  @include media-breakpoint-up(lg) {
    padding: 50px 0;

    &:before {
      display: none;
    }

    .block-text {
      margin-bottom: 38px;
    }
  }
}
