.block-advantages {
  padding: 25px 0 34px;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 473px;
    height: 473px;
    right: -157px;
    top: 373px;
    background: #001625;
    filter: blur(250px);
    border-radius: 100%;
    will-change: transform;
  }

  &:after {
    content: "";
    position: absolute;
    width: 473px;
    height: 473px;
    left: -234px;
    top: 40px;
    background: #001f1e;
    filter: blur(250px);
    border-radius: 100%;
    will-change: transform;
  }

  .block-text {
    margin-bottom: 18px;

    .h1 {
      br {
        display: none;
      }
    }
  }

  .container {
    position: relative;
    z-index: 1;
  }

  .wrapper {
    .col {
      margin: 0 0 10px;
    }
  }

  .card-type-03 {
    padding: 0;
    height: auto;

    .card {
      position: static;

      .card-inner {
        h2 {
          margin: 0 0 36px;

          @include media-breakpoint-down(xl) {
            font-size: 1.714rem;
          }

          br {
            display: none;
          }
        }
      }
    }
  }

  @include media-breakpoint-up(sm) {
    .wrapper {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -10px;

      .col {
        padding: 0 10px;
        width: 50%;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    padding: 62px 0;

    &:before {
      width: 58.6vw;
      height: 58.6vw;
      right: auto;
      left: -249px;
      top: -700px;
    }

    &:after {
      display: none;
    }

    .block-text {
      margin-bottom: 40px;

      .h1 {
        br {
          display: block;
        }
      }
    }

    .wrapper {
      .col {
        width: 25%;
        margin: 0;
      }
    }

    .card-type-03 {
      height: 100%;

      .card {
        height: 100%;

        .card-inner {
          height: 100%;
          display: block;

          h2 {
            margin: 5px 0 96px;
            font-size: 2.667rem;
            line-height: 1;

            br {
              display: block;
            }

            .word {
              display: flex;
            }
          }
        }
      }
    }
  }
}
