.block-principles {
  padding: 20px 0 30px;
  position: relative;

  .container {
    position: relative;
    z-index: 1;
  }

  .block-text {
    margin-bottom: 20px;

    .h1 {
      br {
        display: none;
      }
    }
  }

  .principles-list {
    margin: 0;
    padding: 0;
    list-style: none;

    & > li {
      position: relative;
      padding: 14px 0 12px;
      min-height: 123px;

      .line-animated {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
      }

      .accordion-panel {
        display: none;
        padding: 20px 0 10px;

        p {
          font-weight: 500;
          font-size: 1.286rem;
          line-height: 1.2;
          letter-spacing: -0.01em;
          color: $headline-color;
          margin-bottom: 40px;

          &:last-child {
            margin-bottom: 0 !important;
          }
        }

        ul {
          color: $headline-color;
          @extend .list-marked;
        }
      }

      .accordion-toggler-panel {
        cursor: pointer;

        .toggler {
          position: absolute;
          right: 0;
          top: 14px;
          border: none;
          background: rgba(255, 255, 255, 0.1);
          border-radius: 100%;
          padding: 0;
          width: 24px;
          height: 24px;
          transform: rotate(0);
          will-change: transform;
          transition: transform 0.3s ease;

          svg {
            display: block;
            margin: auto;
          }
        }

        &.accordion-active {
          .toggler {
            transform: rotate(-180deg);
          }
        }
      }

      .num {
        position: absolute;
        left: 0;
        top: 14px;
        letter-spacing: 0.01em;
        font-size: 0.857rem;
        color: $headline-color;
      }

      .title {
        padding: 0 28px 0 43px;
        margin: 0 0 10px;

        h2 {
          @include media-breakpoint-down(xl) {
            font-size: 1.714rem;
          }
          @include media-breakpoint-down(lg) {
            br {
              display: none;
            }
          }
          .word {
            line-height: 0;

            .char {
              line-height: 1;
            }
          }
        }
      }

      .text {
        padding: 0 28px 0 43px;

        p {
          margin: 0;
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    padding: 56px 0;

    &:after {
      @include bg-blue;
    }
    @include bg-after(1800px, 308px, -761px);

    .block-text {
      margin-bottom: 37px;

      .h1 {
        br {
          display: block;
        }
      }
    }

    .principles-list {
      & > li {
        padding: 28px 0 20px;
        min-height: 140px;

        .accordion-panel {
          padding: 0 0 10px;
        }

        .accordion-toggler-panel {
          display: flex;

          .toggler {
            position: static;
            width: 41px;
            height: 41px;
            flex: 0 0 auto;
            margin-left: 50px;

            svg {
              width: 14px;
              height: auto;
            }
          }
        }

        .col {
          width: 50%;
          display: flex;

          &:first-child {
            padding-right: 10px;
          }

          &:last-child {
            padding-left: 10px;
            justify-content: space-between;
          }
        }

        .num {
          position: static;
          letter-spacing: 0.01em;
          font-size: 0.778rem;
          width: 115px;
          flex: 0 0 auto;
        }

        .title {
          padding: 0;
          margin: 0;

          h2 {
            .word {
              line-height: 1.04;
            }
          }
        }

        .text {
          padding: 0;

          p {
            max-width: 440px;
            line-height: 1.2;
          }
        }
      }
    }
  }

  @include media-breakpoint-up(xl) {
    .principles-list {
      & > li {
        .accordion-panel {
          ul {
            font-size: 28px;
            line-height: 1.2;

            li {
              margin: 0 0 30px;
            }
          }
        }
      }
    }
  }
}
