.block-advantages {
  padding: 25px 0 34px;
  position: relative;

  .block-text {
    margin-bottom: 18px;

    .h1 {
      br {
        display: none;
      }
    }
  }

  .container {
    position: relative;
    z-index: 1;
  }

  .wrapper {
    .col {
      margin: 0 0 10px;
    }
  }

  @include media-breakpoint-up(sm) {
    .wrapper {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -10px;

      .col {
        padding: 0 10px;
        width: 50%;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    padding: 62px 0;

    .block-text {
      margin-bottom: 40px;

      .h1 {
        br {
          display: block;
        }
      }
    }

    .wrapper {
      .col {
        width: 25%;
        margin: 0;
      }
    }
  }

  @include media-breakpoint-up(xl) {
    .card-type-10 {
      .card {
        .card-inner {
          h3 {
            margin: 0 0 126px;
          }
        }
      }
    }
  }
}
