.block-business {
  padding: 20px 0 34px;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 473px;
    height: 473px;
    right: -119px;
    top: -32px;
    background: #001625;
    filter: blur(250px);
    border-radius: 100%;
  }

  &:after {
    content: "";
    position: absolute;
    width: 473px;
    height: 473px;
    left: -171px;
    top: 402px;
    background: #001625;
    filter: blur(250px);
    border-radius: 100%;
  }

  .container {
    position: relative;
    z-index: 1;
  }

  .h1 {
    margin: 0 0 10px;
  }

  @include media-breakpoint-up(md) {
    .wrapper {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -10px;
      .col {
        width: 50%;
        padding: 0 10px;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    padding: 40px 0;

    &:before {
      width: 54.7vw;
      height: 54.7vw;
      right: -13.19vw;
      top: -14.23vw;
    }

    &:after {
      width: 52.8%;
      height: 52.8%;
      left: -21.46vw;
      top: -1.875vw;
      background: rgba(149, 247, 245, 0.1);
      filter: blur(250px);
    }
  }
}
