.block-page {
  margin: 0 0 60px;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  .container {
    position: relative;
    z-index: 1;
  }

  h1,
  .h1 {
    line-height: 1;
  }

  .block-number {
    margin: 0 0 18px;
  }

  @include media-breakpoint-up(lg) {
    margin: 0 0 120px;

    h1,
    .h1 {
      line-height: 0.96;
      letter-spacing: -0.03em;
    }
  }

  &--career1 {
    .plane-animation {
      padding: 15px 0 0;
    }

    @include media-breakpoint-up(lg) {
      &:after {
        @include bg-blue;
      }
      @include bg-after(108.4vw, -20px, -50.24vw);

      .plane-animation {
        padding: 65px 0 0;
        margin: 0 0 -5px;
      }
    }
  }

  &--career2 {
    &:before {
      @include bg-blue;
    }
    @include bg-before(1000px, -46px, -421px);

    .block-text {
      margin-bottom: 10px;
    }

    .tab-menu-wrapper {
      margin-bottom: 20px;

      .tab-nav {
        li {
          a {
            & > span {
              padding-left: 16px;
              padding-right: 16px;
            }
          }
        }
      }
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
    }

    @include media-breakpoint-up(sm) {
      .wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 -5px;

        .col {
          width: 50%;
          padding: 0 5px;
        }
      }
    }

    @include media-breakpoint-up(md) {
      .wrapper {
        margin: 0 -10px;
        row-gap: 20px;

        .col {
          padding: 0 10px;
        }
      }
    }

    @include media-breakpoint-up(lg) {
      &:before {
        display: none;
      }

      .block-text {
        margin-bottom: 20px;
      }

      .tab-menu-wrapper {
        margin-bottom: 40px;

        .tab-nav {
          li {
            a {
              & > span {
                padding-left: 19px;
                padding-right: 19px;
              }
            }
          }
        }
      }

      .wrapper {
        .col {
          width: 33.3333%;
        }
      }
    }

    @include media-breakpoint-up(xl) {
      .wrapper {
        .col {
          width: 25%;
        }
      }
    }
  }

  &--career3 {
    &:before {
      @include bg-blue;
    }
    @include bg-before(1000px, 430px, -402px);

    .block-text {
      margin-bottom: 18px;
    }

    .card-type-02 {
      .card {
        .card-inner {
          .card-image {
            top: 20px;
          }
          .card-top {
            margin: 0 0 1px;
            h2 {
              margin: 0;
            }
          }
        }
      }

      .tab-nav li a > span {
        padding: 10.6px 15px;
      }
    }

    .swiper-button-prev,
    .swiper-button-next {
      right: 16px;
      top: 212px;
    }
    .swiper-scrollbar-horizontal {
      margin: 15px 0 0;
    }

    @include media-breakpoint-up(lg) {
      @include bg-before(108.4vw, -150px, -40.36vw);

      .block-text {
        margin-bottom: 38px;
      }

      .card-type-02 {
        padding: 0;
        height: 660px;
        .card {
          .card-inner {
            .card-image {
              top: 40px;
            }
            .card-top {
              margin: 0 0 7px;
            }
          }
        }

        .tab-nav li a > span {
          padding: 14px 19px !important;
        }
      }

      .swiper-scrollbar-horizontal {
        margin: 40px 0 0;
      }

      .swiper-button-prev,
      .swiper-button-next {
        right: 44px;
        top: 43%;
      }

      .swiper-slide {
        &:nth-child(2) {
          @include media-breakpoint-up(xl) {
            .product-item {
              .product-description {
                ul {
                  li {
                    strong {
                      width: 230px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &--career4 {
    .block-text {
      margin-bottom: 14px;
    }

    .swiper-button-prev,
    .swiper-button-next {
      right: 16px;
      transform: translateY(calc(-50% - 24px));
    }

    .swiper-scrollbar-horizontal {
      display: none;
    }

    .card-type-10 {
      .card {
        .card-inner {
          min-height: 258px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          h3 {
            line-height: 1;
          }
        }
      }
    }

    @include media-breakpoint-up(sm) {
      .card-type-10 {
        .card {
          .card-inner {
            p {
              min-height: 4.2em;
            }
          }
        }
      }
    }

    @include media-breakpoint-up(lg) {
      margin: 0 0 110px;

      &:before {
        @include bg-green;
      }
      @include bg-before(84.3vw, -23.7vw, -35.2vw);

      .block-text {
        margin-bottom: 40px;
      }

      .card-type-10 {
        .card {
          .card-inner {
            min-height: 398px;
            h3 {
              line-height: 1.2;
              margin: 0;
            }
            p {
              min-height: 7em;
            }
          }
        }
      }
    }

    @media (min-width: 1280px) {
      .card-type-10 {
        .card {
          .card-inner {
            p {
              min-height: 5.6em;
            }
          }
        }
      }
    }

    @include media-breakpoint-up(xl) {
      .card-type-10 {
        .card {
          .card-inner {
            padding: 39px 39px 37px;

            h3 {
              margin: 0;
            }
            p {
              min-height: 7em;
            }
          }
        }
      }
    }
  }

  &--career5 {
    &:after {
      @include bg-green;
    }
    @include bg-after(600px, -138px, -254px);

    .image {
      margin: -23px -10px 0;
      padding: 0 0 27px;
      font-size: 3.43rem;

      img {
        max-width: 100%;
        height: auto;
        display: block;
      }
    }

    @include media-breakpoint-up(lg) {
      &:after {
        @include bg-blue;
      }
      @include bg-after(108.4vw, -81px, -41.15vw);
    }

    @include media-breakpoint-up(xl) {
      .block-text {
        margin-bottom: 0;
      }

      .image {
        font-size: 5.11rem;
        margin: -2.42em 0 0;
        padding: 0;
      }
    }
  }

  &--career6 {
    &:before {
      @include bg-blue;
    }
    @include bg-before(1000px, 392px, -402px);

    .block-text {
      margin-bottom: 19px;
    }

    @include media-breakpoint-up(lg) {
      margin: 0 0 115px;

      &:before {
        @include bg-green;
      }
      @include bg-before(84.3vw, 48px, -34.3vw);

      .block-text {
        margin-bottom: 37px;
      }
    }
  }

  &--career7 {
    &:after {
      @include bg-green;
    }
    @include bg-after(600px, 521px, -336px);

    .block-text {
      margin-bottom: 19px;
    }
    .h1 {
      margin-right: 20px;
    }
    .image {
      margin: 0 0 20px;

      img {
        max-width: 100%;
        height: auto;
        display: block;
      }
    }
    .cards-wrapper {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
    }

    @include media-breakpoint-up(md) {
      .wrapper {
        margin: 0 -10px;
        display: flex;

        .col {
          padding: 0 10px;
          width: 50%;
        }
      }

      .image {
        margin: 0;
      }
    }

    @include media-breakpoint-up(lg) {
      &:after {
        display: none;
      }

      .block-text {
        margin-bottom: -4px;
      }
      .h1 {
        margin-right: 0;
        max-width: 700px;
      }
      .image {
        margin: 42px 0 0;
      }
      .cards-wrapper {
        row-gap: 20px;
      }
    }
  }

  &--career-single {
    position: relative;

    &:before {
      @include bg-blue;
    }
    @include bg-before(1000px, -464px, -437px);

    &:after {
      @include bg-green;
    }
    @include bg-after(600px, 206px, -236px);

    .container {
      z-index: auto;

      &:before {
        @include bg-blue;
      }
      @include bg-before(1000px, 783px, -405px);
    }

    .block-number,
    h1,
    .block-text {
      position: relative;
      z-index: 1;
    }

    .block-number {
      margin: 0 0 12px;
    }

    .block-text {
      margin-bottom: 0;
      .col {
        margin: 0 0 58px;

        &:last-child {
          margin: 0;
        }
      }
    }

    h1 {
      margin: 0 10px 0 0;
    }

    h3 {
      margin: 37px 0 7px;
    }

    p {
      margin: 0;
      line-height: 1.42;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      line-height: 1.42;

      li {
        position: relative;
        padding: 0 0 0 27px;

        &:before {
          content: "";
          width: 4px;
          height: 4px;
          border-radius: 100%;
          background-color: $text-color;
          position: absolute;
          left: 11px;
          top: 0.6em;
        }
      }
    }

    .job-details {
      display: flex;
      flex-wrap: wrap;
      margin: 16px 0 -10px;

      .item {
        margin: 0 12px 10px 0;
        letter-spacing: 0.01em;
        font-size: 12px;

        span {
          display: block;
          margin: 0 0 4px;
          color: $white;
        }

        .item-data {
          display: inline-flex;
          align-items: center;
          height: 40px;
          padding: 0 16px;
          background: rgba(255, 255, 255, 0.1);
          border-radius: 5px;
          color: $text-color;
        }
      }
    }

    .job-form {
      .form-wrapper {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -5px;

        .form-col {
          width: 50%;
          padding: 0 5px;
        }
      }

      .field {
        position: relative;
        margin: 0 0 10px;
        width: 100%;

        p {
          margin: 0 !important;
        }

        &.error {
          margin-bottom: 23px;
          border-color: $error;
        }

        input {
          width: 100%;
          height: 34px;
          padding: 8px 0 9px;
          font-size: 12px;
          line-height: 14px;
          color: $text-color;
          @include placeholder-text($placeholder-color, 1);
          background: none;
          border: 1px solid transparent;
          border-bottom: 1px solid $text-color;
          border-radius: 0;
          resize: none;
          overflow: hidden;

          &:focus,
          &:not(:placeholder-shown) {
            outline: none;
            box-shadow: none;
            border-color: transparent;
            border-bottom-color: $headline-color;
            @include placeholder-text($headline-color, 1);
            color: $headline-color;
          }

          &:not(:placeholder-shown) {
            color: $headline-color;
          }

          &.error,
          &.wpcf7-not-valid {
            @include placeholder-text($error, 1);
            border-bottom-color: $error;

            & + .error-msg {
              display: block;
            }
          }
        }

        .wpcf7-form-control-wrap {
          display: block;
          position: relative;
        }

        .wpcf7-not-valid-tip {
          font-size: 10px;
          position: absolute;
          top: 100%;
          line-height: 1.4;
          margin: 4px 0 0;
          letter-spacing: 0.01em;
        }

        .error-msg {
          position: absolute;
          left: 0;
          top: 100%;
          font-size: 10px;
          color: $error;
          letter-spacing: 0.01em;
          padding: 2px 0 0;
          display: none;
        }
      }

      .field-file {
        position: relative;
        padding: 0 0 0 25px;
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='%23E9EEF1' stroke-width='1' stroke-dasharray='12%2c4' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
        border-radius: 12px 12px 25px 12px;
        margin: 19px 0 40px;
        font-size: 12px;
        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0 100%);
        height: 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &:after {
          content: "";
          background: url(../img/bg/file-corner.png) no-repeat;
          width: 26px;
          height: 26px;
          position: absolute;
          right: 0;
          bottom: 0;
        }

        input {
          position: absolute;
          opacity: 0;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 9;
        }

        p {
          margin: 0;
          background: url(../img/icons/ico-file-add.svg) 0 50% no-repeat;
          padding: 0 0 0 41px;
          letter-spacing: 0.01em;

          span {
            display: block;
            color: $headline-color;
          }
        }
      }
    }

    @include media-breakpoint-up(md) {
      .block-text {
        .col {
          margin: 0;
        }
      }
    }

    @include media-breakpoint-up(lg) {
      padding: 0 0 40px;

      @include bg-before(108.4vw, -45vw, -40.36vw);

      @include bg-after(84.3vw, -32px, auto);
      &:after {
        right: -35.18vw;
      }

      .container {
        z-index: 1;

        &:before {
          display: none;
        }
      }

      h1 {
        margin: 0 0 18px;
      }

      h3 {
        margin: 60px 0 11px;
      }

      p {
        line-height: 1.39;
      }

      ul {
        line-height: 1.38;
      }

      .job-details {
        margin: 0 0 -10px 0;
        max-width: 600px;

        .item {
          font-size: 14px;

          span {
            margin: 0 0 10px;
          }

          .item-data {
            height: 50px;
            padding: 0 20px;
            border-radius: 5px;
          }
        }
      }

      .job-form {
        max-width: 555px;
        .form-wrapper {
          margin: 0 -10px;

          .form-col {
            padding: 0 10px;
          }
        }

        .field {
          margin: 0 0 20px;

          &.error {
            margin-bottom: 20px;
          }

          input {
            height: 40px;
            padding: 10px 0 11px;
            font-size: 14px;
          }
        }

        .field-file {
          margin: 39px 0 40px;
          font-size: 14px;
          height: 80px;

          p {
            padding: 0 0 0 51px;

            span {
              margin: 0 0 1px;
            }
          }
        }
      }
    }
  }
}
