.case-main {
  background-color: $white;
  border-radius: 20px;
  padding: 20px 0;
  color: $dark;

  @include media-breakpoint-up(lg) {
    border-radius: 40px;
    padding: 60px 0;
  }
}

.case-headline {
  position: relative;
  padding: 1px;
  height: 106.67vw;
  margin: 0 0 60px;
  background-color: $dark;
  @include card-borders;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 1px;
    background: linear-gradient(180deg, rgba($case-border, 0.8), rgba($dark, 0.8));
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    @include card-borders;
  }

  &:after {
    content: "";
    width: 335px;
    height: 354px;
    position: absolute;
    top: 0;
    right: 0;
    background-repeat: no-repeat;
  }

  .inner {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &:before {
      content: "";
      width: 335px;
      height: 400px;
      position: absolute;
      bottom: -1px;
      left: -1px;
      background-repeat: no-repeat;
    }

    &:after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: -1px;
      right: -1px;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .h1 {
    font-weight: 500;
    font-size: 80px;
    line-height: 0.9;
    text-align: center;
    letter-spacing: -0.04em;
    color: $headline-color;
    margin: 0;
    position: relative;
    z-index: 2;
    width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    padding: 0 10px;
  }

  &--bg-blue {
    &:after {
      background-image: url(../img/bg/case-blue-top-m.svg);
    }
    .inner {
      &:before {
        background-image: url(../img/bg/case-blue-bottom-m.svg);
      }
      &:after {
        background-image: url(../img/bg/case-blue-center-m.svg);
      }
    }
  }

  &--bg-green {
    &:after {
      background-image: url(../img/bg/case-green-top-m.svg);
    }
    .inner {
      &:before {
        background-image: url(../img/bg/case-green-bottom-m.svg);
      }
      &:after {
        background-image: url(../img/bg/case-green-center-m.svg);
      }
    }
  }

  &--bg-purple {
    &:after {
      background-image: url(../img/bg/case-purple-top-m.svg);
    }
    .inner {
      &:before {
        background-image: url(../img/bg/case-purple-bottom-m.svg);
      }
      &:after {
        background-image: url(../img/bg/case-purple-center-m.svg);
      }
    }
  }

  @include media-breakpoint-up(md) {
    height: 600px;

    .inner {
      &:after {
        background-size: 100% 100%;
        z-index: -1;
      }
    }

    &--bg-blue {
      .inner {
        &:after {
          background-image: url(../img/bg/case-blue-center.svg);
        }
      }
    }

    &--bg-green {
      .inner {
        &:after {
          background-image: url(../img/bg/case-green-center.svg);
        }
      }
    }

    &--bg-purple {
      .inner {
        &:after {
          background-image: url(../img/bg/case-purple-center.svg);
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    .h1 {
      font-size: 10.72vw;
      padding: 0 50px;
    }

    &:after {
      width: 600px;
      height: 450px;
      background-size: 100% 100%;
    }

    .inner {
      &:before {
        width: 610px;
        height: 450px;
        background-size: 100% 100%;
      }
    }

    &--bg-blue {
      &:after {
        background-image: url(../img/bg/case-blue-top.svg);
      }
      .inner {
        &:before {
          background-image: url(../img/bg/case-blue-bottom.svg);
        }
      }
    }

    &--bg-green {
      &:after {
        background-image: url(../img/bg/case-green-top.svg);
      }
      .inner {
        &:before {
          background-image: url(../img/bg/case-green-bottom.svg);
        }
      }
    }

    &--bg-purple {
      &:after {
        background-image: url(../img/bg/case-purple-top.svg);
      }
      .inner {
        &:before {
          background-image: url(../img/bg/case-purple-bottom.svg);
        }
      }
    }
  }

  @include media-breakpoint-up(xl) {
    &:after {
      width: 793px;
      height: 602px;
    }

    .inner {
      &:before {
        width: 833px;
        height: 602px;
      }
    }

    &--bg-green {
      margin: 0 0 120px;
    }
  }
}

.block-case-part {
  margin: 0 0 60px;

  .block-number {
    margin: 0 0 7px;

    &:before {
      border-color: $text-color;
    }

    .block-number-main {
      &:after {
        background: $text-color;
      }
    }
  }

  h2 {
    font-size: 3.43rem;
    letter-spacing: -0.02em;
    line-height: 1;
    font-weight: 500;
    color: $dark;
    margin: 0 0 20px;

    .word {
      margin: 0 0 -0.45rem;
    }
  }

  h3 {
    font-size: 2rem;
    letter-spacing: -0.01em;
    line-height: 1.2;
    font-weight: 500;
    color: $dark;
    margin: 0 0 20px;

    @include media-breakpoint-down(md) {
      br {
        display: none;
      }
    }
  }

  h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: #050505;
    margin: 0 0 20px;
  }

  .case-image {
    margin: 20px 0 0;
    border-radius: 10px;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    padding: 0 50px;

    img {
      display: block;
      max-width: 100%;
      height: auto;
    }

    &--multiple {
      flex-direction: column;
      padding: 0;

      img {
        display: block;
        max-width: 100%;
        height: auto;

        & + img {
          margin-top: 20px;
        }
      }
    }

    &--bg-dark,
    &--bg-medium {
      background-color: $black;
      padding: 10px;

      img {
        display: block;
        max-width: 100%;
        height: auto;
      }
    }

    &--bg-medium {
      background-color: #2d2b2b;
    }

    &--full {
      display: block;
      padding: 0;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 10px;
      }
    }

    & + .case-card {
      margin-top: 20px;
    }
  }

  .case-text {
    p {
      margin: 0;
      color: #434343;
    }
  }

  .col {
    &:first-child {
      .case-text {
        margin: 0 0 60px;
      }
    }

    &.col-single {
      margin-bottom: 20px;

      @include media-breakpoint-up(lg) {
        margin-bottom: 60px;
      }
    }
  }

  .marker-list {
    font-weight: 500;
    font-size: 2.57rem;
    line-height: 1;
    letter-spacing: -0.01em;
    margin: 40px 0 0;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin: 0 0 20px;
        position: relative;
        padding-left: 55px;
        &:last-child {
          margin: 0;
        }
        &:before {
          content: "";
          position: absolute;
          left: 24px;
          top: 0.45em;
          width: 10px;
          height: 10px;
          border-radius: 100%;
          background-color: rgba($dark, 1);
        }
      }
    }
  }

  .marker-list-sm {
    font-weight: 500;
    font-size: 1.714rem;
    line-height: 1;
    letter-spacing: -0.01em;
    margin: 40px 0 0;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin: 0 0 20px;
        position: relative;
        padding-left: 37px;
        &:last-child {
          margin: 0;
        }
        &:before {
          content: "";
          position: absolute;
          left: 15px;
          top: 0.45em;
          width: 7px;
          height: 7px;
          border-radius: 100%;
          background-color: rgba($dark, 1);
        }
      }
    }

    @include media-breakpoint-up(lg) {
      font-size: 1.555rem;
      line-height: 1.2;

      li {
        margin-bottom: 40px;
        padding-left: 43px;

        &:before {
          left: 17px;
          width: 8px;
          height: 8px;
        }
      }
    }
  }

  .case-column-image {
    margin: 20px 0 0;
    img {
      display: block;
      width: 100%;
      height: auto;
      border-radius: 10px;
    }
  }

  .case-card {
    margin: 0 0 20px;

    &:last-child {
      margin-bottom: 0;
    }

    &--inner {
      margin: 40px 0;

      &:last-child {
        margin-bottom: 0;
      }

      .case-text {
        margin: 0;

        & + .case-card-image {
          margin-top: 10px;
        }
      }

      .case-card-image {
        & + .case-text {
          margin-top: 10px;

          p {
            margin-top: 0;
          }
        }
      }

      .col:first-child .case-text {
        margin: 0 0 40px;

        @include media-breakpoint-up(md) {
          margin-bottom: 0;
        }
      }
    }

    &--img2 {
      .case-card-image {
        margin-bottom: 10px;
      }
      .wrapper {
        .col {
          & + .col {
            margin-top: 40px;

            @include media-breakpoint-up(md) {
              margin-top: 0;
            }
          }
        }
      }
    }

    .case-card-image {
      background: #f6f6f6;
      border-radius: 10px;
      padding: 10px;

      img {
        display: block;
        max-width: 100%;
        height: auto;
        margin: auto;
      }

      &--full {
        padding: 0;
        background: none;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          border-radius: 10px;
        }
      }
    }

    .wrapper {
      .col {
        &:first-child {
          .case-text {
            margin-bottom: 20px;
          }
        }
      }
    }
  }

  .case-icon-list {
    .item {
      margin: 40px 0 0;

      .icon {
        border: 1px solid #91999e;
        border-radius: 15px;
        margin: 0 0 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
      }
      .title {
        font-weight: 500;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: -0.01em;
        margin: 0 0 20px;
      }
      p {
        margin: 0;
      }
    }

    @include media-breakpoint-up(md) {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -10px;

      .item {
        padding: 0 10px;
        width: 50%;

        .icon {
          margin: 0 0 40px;
          width: 80px;
          height: 80px;
          border-radius: 20px;
        }
        .title {
          font-size: 28px;
          line-height: 1.2;
          margin: 0 0 10px;
        }
        p {
          line-height: 1.5;
        }
      }
    }

    @include media-breakpoint-up(lg) {
      .item {
        margin: 60px 0 0;
        width: 25%;
      }
    }

    &--card {
      position: relative;
      margin: 40px 0 0;

      &:before {
        content: "";
        position: absolute;
        z-index: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        padding: 1px;
        background: #050505;
        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        @include card-borders;
      }

      .inner {
        padding: 20px;
      }

      .item {
        &:first-child {
          margin: 0;
        }
      }

      @include media-breakpoint-up(md) {
        display: block;

        .inner {
          display: flex;
          flex-wrap: wrap;
          padding: 0;

          .item {
            padding: 40px 20px;
            margin: 0;
            width: 50%;
          }
        }
      }

      @include media-breakpoint-up(lg) {
        .inner {
          .item {
            padding: 40px 20px;
            margin: 0;
            width: 25%;

            .icon {
              margin: 0 0 120px;
            }
          }
        }
      }

      @include media-breakpoint-up(xl) {
        .inner {
          .item {
            padding: 40px;
          }
        }
      }
    }
  }

  .case-icon-list-tech {
    padding: 40px 0 0;

    h5 {
      margin: 0;
    }

    .inner {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -15px 20px 0;

      .item {
        width: 60px;
        margin: 10px 10px 0 0;

        .icon {
          border: 1px solid #91999e;
          border-radius: 15px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 60px;
          height: 60px;

          img {
            display: block;
          }
        }

        .text {
          display: block;
          font-size: 14px;
          line-height: 1.4;
          text-align: center;
          color: #434343;
          margin: 4px 0 0;
        }
      }
    }

    @include media-breakpoint-up(md) {
      .inner {
        margin: 0 -15px 40px 0;

        .item {
          width: 80px;

          .icon {
            width: 80px;
            height: 80px;
            border-radius: 20px;
          }
          .text {
            font-size: 16px;
            line-height: 1.2;
            letter-spacing: 0.01em;
            margin: 10px 0 0;
          }
        }
      }
    }

    @include media-breakpoint-up(lg) {
      padding: 20px 0 0;
      max-width: 555px;

      h5 {
        margin: 0 0 10px;
      }

      .inner {
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }

        .item {
          margin: 0 10px 20px 0;
        }
      }
    }
  }

  .col {
    .case-icon-list {
      @include media-breakpoint-up(md) {
        .item {
          width: 100%;
        }
      }
      @include media-breakpoint-up(lg) {
        .item {
          width: 50%;
        }
      }
    }
  }

  .case-stats {
    padding: 120px 0 0;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin: 0 0 40px;

        strong {
          display: block;
          font-size: 5.714rem;
          line-height: 0.9;
          letter-spacing: -0.04em;
          font-weight: 500;
          margin: 0 0 10px;
        }
        p {
          margin: 0;
          letter-spacing: 0;
          color: #434343;
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    .wrapper {
      display: flex;
      margin: 0 -10px;

      .col {
        width: 50%;
        padding: 0 10px;
      }
    }

    .case-stats {
      padding: 20px 0 0;
    }

    & > .case-stats {
      padding: 150px 0 0;

      ul {
        display: flex;
        justify-content: space-between;
        margin: 0 -10px;

        li {
          padding: 0 10px;
        }
      }
    }

    .case-image {
      height: 450px;

      &--multiple {
        flex-direction: row;

        img {
          width: 40%;
          margin: 0 15px;

          & + img {
            margin-top: 0;
          }
        }
      }
    }

    .case-card {
      .case-card-image {
        height: 520px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    .block-number {
      margin: 0 0 1px;
    }

    h2 {
      font-size: 5.11rem;
      letter-spacing: -0.03em;
      margin: 0 0 6px;

      .word {
        margin: 0 0 -1.2rem;
      }
    }

    h3 {
      font-size: 2.667rem;
      letter-spacing: -0.02em;
      margin: 0 0 10px;
      line-height: 1;
    }

    .case-image {
      margin: 62px 0 0;
      height: 600px;

      & + .case-card {
        margin-top: 120px;
      }

      &--multiple {
        img {
          width: 37.43%;
          margin: 0 30px;
        }
      }
    }

    .case-text {
      max-width: 555px;
      line-height: 1.5;
      margin: 0 0 40px;

      p {
        &:first-child {
          margin-top: 30px;
        }
      }

      h3 {
        margin-top: 10px;
      }

      &--no-spacing {
        p {
          &:first-child {
            margin-top: 9px;
          }
        }
      }
    }

    .col:first-child .case-text {
      margin: 0 0 40px;
    }

    .marker-list {
      font-size: 2.667rem;
      line-height: 1.2;
      margin: 60px 0 0;

      ul {
        li {
          margin: 0 0 30px;
          padding-left: 75px;
          &:before {
            left: 28px;
            top: 0.5em;
            width: 13px;
            height: 13px;
          }
        }
      }
    }

    .case-card {
      margin: 0 0 120px;

      &--inner {
        margin: 20px 0 60px;

        .case-text {
          margin: 0;
        }
      }

      .wrapper {
        justify-content: space-between;

        .col {
          &:first-child {
            .case-text {
              margin-bottom: 20px;
            }
          }
        }
      }

      p {
        line-height: 1.5;
      }
    }
  }

  @include media-breakpoint-up(xl) {
    margin: 0 0 120px;

    .case-stats {
      ul {
        padding: 0 50px 0 0;
        li {
          margin: 0 0 60px;

          strong {
            font-size: 9.89rem;
            margin: 0 0 20px;
          }
        }
      }
    }

    & > .case-stats {
      padding: 280px 0 0;
    }
  }

  &.block-case-images {
    .case-image {
      margin: 0 0 10px;
      border-radius: 10px;
      background-color: #f6f6f6;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 500px;
      padding: 45px;

      &--sm {
        height: 260px;
        padding: 35px;
      }

      img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
      }
    }

    @include media-breakpoint-up(md) {
      .case-image {
        margin: 0 0 20px;
        height: 600px;
        padding: 40px;

        &--sm {
          height: 520px;
          padding: 38px;
        }
      }

      .wrapper {
        margin: 0 -10px;
        display: flex;
        justify-content: flex-end;

        .col {
          width: 50%;
          padding: 0 10px;
        }
      }
    }
  }
}

.case-reviews {
  position: relative;
  padding: 40px 0 0;
}

.text-card {
  position: relative;
  padding: 1px;

  &--border {
    &:before {
      content: "";
      position: absolute;
      z-index: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: #050505;
      -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      @include card-borders;
      padding: 1px;
    }
  }

  &--background {
    background-color: #f6f6f6;
    @include card-borders;
  }

  .text-card-inner {
    padding: 19px;

    h2 {
      margin: 0 0 184px;
    }
    p {
      margin: 0;
    }
  }
}
