.block-whats-next {
  padding: 52px 0 40px;
  position: relative;

  .container {
    position: relative;
    z-index: 1;
  }

  .block-text {
    margin-bottom: 23px;

    .h1 {
      br {
        display: none;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    .block-text {
      margin-bottom: 38px;

      .h1 {
        br {
          display: block;
        }
      }
    }
  }

  @include media-breakpoint-up(xl) {
    .swiper-051 .swiper-slide {
      .card-type-08 {
        .card-inner {
          .card-icon {
            margin: 0 0 96px;
          }
        }
      }
    }
  }
}
