.block-whats-next {
  padding: 52px 0 40px;
  position: relative;

  .container {
    position: relative;
    z-index: 1;
  }

  .block-text {
    margin-bottom: 23px;

    .h1 {
      br {
        display: none;
      }
    }
  }

  .wrapper {
    border: 1px solid #434343;
    @include card-borders();
    position: relative;
    overflow: hidden;
    padding: 0 0 20px;

    &:before {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      background-color: #434343;
      position: absolute;
      bottom: 0;
      right: 0;
      transform: rotate(45deg) translate3d(45%, 0, 0);

      @include media-breakpoint-up(xl) {
        width: 40px;
        height: 40px;
        transform: rotate(45deg) translate3d(58%, 0, 0);
      }
    }

    .col {
      position: relative;
      z-index: 5;
      margin: 0;

      &:last-child {
        margin: 0;
      }
    }
  }

  .card-type-07 {
    .card-inner {
      padding: 20px 20px 0;

      .card-icon {
        background: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        overflow: hidden;
        margin: 0 0 10px;

        .card-icon-inner {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          transform: translate3d(0, 0, 0);
          will-change: transform;
          transition: transform 0.3s ease;
        }
      }

      .card-text {
        h3 {
          margin: 10px 0;
        }
        p {
          margin: 0;
        }
      }
    }

    &:hover {
      .card-icon {
        .card-icon-inner {
          transform: translate3d(0, -100%, 0);
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    .wrapper {
      display: flex;
      padding: 0;
      .col {
        margin: 0;
        width: 33.3333%;
      }
    }

    .card-type-07 {
      height: auto;
      .card-inner {
        padding: 20px;

        .card-icon {
          margin: 0;
          border-radius: 20px;
        }

        .card-text {
          h3 {
            margin: 96px 0 10px;
          }
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    .block-text {
      margin-bottom: 38px;

      .h1 {
        br {
          display: block;
        }
      }
    }

    .card-type-07 {
      .card-inner {
        padding: 40px;
      }
    }

    // .wrapper {
    //   .col {
    //     width: 32.4%;
    //   }
    // }

    // .card-type-07 {
    //   max-width: 405px;
    //   position: relative;
    //   z-index: 9;
    // }
  }

  @include media-breakpoint-up(xl) {
    // .card-type-08 {
    //   max-width: 405px;

    //   .card-inner {
    //     padding: 40px;

    //     .card-icon {
    //       margin: 0 0 132px;
    //     }
    //   }
    // }
  }
}
