.contact-form-wrapper {
  position: relative;
  z-index: 1;
  @include media-breakpoint-up(lg) {
    display: flex;
    margin: 0 -10px;
  }
}

.contact-form-01 {
  .wpcf7-form-control-wrap {
    position: static !important;
  }

  .wpcf7-not-valid-tip {
    display: block;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 0.01em;
    margin: 4px 0 0;
  }

  .field {
    position: relative;
    margin: 0 0 11px;
  }

  label,
  .label {
    display: block;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    white-space: nowrap;
    margin: 0 0 6px;
  }

  input,
  textarea {
    display: block;
    width: 100%;
    padding: 15px 15px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    border: none;
    color: $headline-color;
    -webkit-appearance: none;
    appearance: none;
    @include placeholder-text($headline-color, 1);
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.01em;

    &:focus {
      outline: none;
      box-shadow: none;
      border-color: transparent;
    }

    &.error {
      @include placeholder-text($error);
    }
  }

  textarea {
    height: 100px;
  }

  .button {
    margin: 7px 0 0;
  }

  .field-file {
    display: flex;
    align-items: center;

    p {
      margin: 0 30px 0 10px;
      font-size: 10px;
      line-height: 1.3;
    }
  }

  .field-file-result {
    margin: 0 0 20px;
    position: relative;
    color: $white;
    font-size: 12px;
    display: none;

    .inner {
      background: rgba(255, 255, 255, 0.1);
      border-radius: 5px;
      padding: 0 69px 0 15px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .file-delete {
      background: none;
      border: none;
      padding: 14px;
      position: absolute;
      top: 0;
      right: 7px;

      img {
        display: block;
      }
    }
  }

  .jstyling-file {
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    flex: 0 0 auto;

    .jstyling-file-f {
      overflow: hidden;
      white-space: nowrap;
      display: none;
    }
    .jstyling-file-b {
      position: relative;
      overflow: hidden;
      background: rgba(255, 255, 255, 0.1) url(../img/icons/file1.svg) 11px 50% no-repeat;
      border-radius: 5px;
      padding: 0 18px 0 40px;
      display: inline-flex;
      align-items: center;
      font-size: 12px;
      color: $headline-color;
      height: 40px;
      white-space: nowrap;
    }

    input[type="file"] {
      margin: 0;
      padding: 0;
      opacity: 0;
      filter: alpha(opacity = 0);
      z-index: 1;
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  @include media-breakpoint-up(md) {
    .form-wrapper {
      display: flex;
      margin: 0 -10px;

      .col {
        padding: 0 10px;
        width: 50%;
      }
    }

    .field {
      margin: 0 0 20px;

      &.field-file {
        margin: 0 0 39px;
      }
    }

    label,
    .label {
      font-size: 18px;
      line-height: 1.2;
      margin: 0 0 10px;
    }

    input,
    textarea {
      font-size: 14px;
    }

    textarea {
      height: 140px;
    }

    .button {
      margin: 0;
    }

    .field-file {
      p {
        max-width: 300px;
        margin: 0 0 0 20px;
        font-size: 14px;
        line-height: 1.4;
      }
    }

    .field-file-result {
      margin: 0 0 40px;
      .inner {
        height: 50px;
        padding: 0 54px 0 15px;
        font-size: 14px;
      }

      .file-delete {
        padding: 19px;
        right: 2px;
      }
    }

    .jstyling-file {
      .jstyling-file-b {
        background-position: 16px 50%;
        padding: 0 24px 0 47px;
        font-size: 14px;
        height: 50px;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    width: 50%;
    padding: 0 10px;
  }
}

.contact-info {
  padding: 16px 0 0;

  dl {
    margin: 0;
    padding: 0;

    dt {
      display: block;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.1;
      margin: 0 0 2px;
    }

    dd {
      display: block;
      font-weight: 500;
      font-size: 24px;
      margin: 0 0 14px;
      color: $headline-color;
      letter-spacing: -0.01em;

      &:last-child {
        margin: 0;
      }
    }

    a {
      color: inherit;
    }
  }

  @include media-breakpoint-up(md) {
    padding: 25px 0 0;

    dl {
      dt {
        font-size: 18px;
        line-height: 1.2;
        margin: 0 0 11px;
      }

      dd {
        font-size: 28px;
        line-height: 1.2;
        margin: 0 0 20px;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    width: 50%;
    padding: 0 10px 0 50px;
  }

  @include media-breakpoint-up(xl) {
    padding-left: 125px;
  }
}
