.page-handbook {
  --color-main: #3726ff;

  .txt-gradient {
    background-color: $white;
    background-image: linear-gradient(90deg, var(--color-main) 0%, $headline-color 130%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .block-service-colored-box {
    .colored-box {
      background-image: linear-gradient(90deg, var(--color-main) 0%, $headline-color 130%);

      form {
        .field {
          label {
            margin: 0 0 -2px;
          }

          &.success {
            label {
              color: $headline-color;
            }
            input {
              color: $headline-color;
              border-color: $headline-color;
            }
          }
        }
        .button {
          &.btn-success {
            .btn-wrap {
              &:before {
                background: #30db74;
                opacity: 1;
              }
            }
            .btn-inner {
              color: $dark;
            }
            .btn-icon {
              &:before {
                width: 30px;
                height: 30px;
                background-image: url(../img/icons/ico-success.svg);
                background-repeat: no-repeat;
                background-position: 50%;
                background-size: auto;
              }

              @include media-breakpoint-up(md) {
                &:before {
                  width: 42px;
                  height: 42px;
                }
              }
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-up(xl) {
    .block-service-colored-box {
      .colored-box {
        form {
          .field label {
            margin: 0 0 11px;
          }
        }
      }
    }
  }
}

.block-handbook-slider {
  .card-type-20 {
    &:after {
      display: none;
    }
    &:hover {
      &:before {
        opacity: 1;
      }
    }
    .card {
      .card-image {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        overflow: hidden;
        background: url(../img/bg/bg-handbook-m.png) no-repeat;
        background-size: cover;

        img {
          float: right;
          width: auto;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
      .card-inner {
        background: $dark;
        height: 300px;
        justify-content: flex-end;
        padding: 23px 23px 21px;

        h2 {
          position: relative;
          z-index: 5;
          line-height: 1;
          font-size: 2.75rem;
        }
      }
    }
  }

  .swiper-02 {
    .swiper-button-prev,
    .swiper-button-next {
      top: 328px;
      transform: none;
      right: 15px;
    }
  }

  @include media-breakpoint-up(sm) {
    .swiper-02 {
      .swiper-slide {
        width: 335px;
      }
    }
  }

  @include media-breakpoint-up(md) {
    .swiper-02 {
      .swiper-button-prev,
      .swiper-button-next {
        top: 50%;
        right: 30px;
      }
    }
  }

  @include media-breakpoint-up(xl) {
    .swiper-02 {
      .swiper-slide {
        width: 555px;
      }
    }
    .card-type-20 {
      .card {
        .card-image {
          background-image: url(../img/bg/bg-handbook.png);
        }
        .card-inner {
          height: 498px;
          padding: 36px 40px;

          h2 {
            font-size: 3.55rem;
          }
        }
      }
    }

    .swiper-02 {
      margin: 0 -40px 0 0;
      padding: 0 40px 0 0;

      .swiper-button-prev,
      .swiper-button-next {
        top: 49%;
        right: 83px;
      }
    }
  }

  @include media-breakpoint-up(xxl) {
    .swiper-02 {
      margin: 0 -140px 0 0;
      padding: 0 140px 0 0;

      .swiper-button-prev,
      .swiper-button-next {
        right: 183px;
      }
    }
  }
}
