.block-hello {
  padding: 20px 0 34px;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 473px;
    height: 473px;
    right: -153px;
    top: -175px;
    // background: #001625;
    // filter: blur(250px);
    // border-radius: 100%;
  }

  .container {
    position: relative;
    z-index: 1;
  }

  .image {
    position: relative;
    img {
      display: block;
      max-width: 100%;
      height: auto;
      position: relative;
      z-index: 3;

      &.image-overlay {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 1;
      }
    }
  }

  ul {
    margin: 0 0 15px;
    padding: 0;
    list-style: none;

    li {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      padding: 0 0 13px;

      .line-animated {
        width: 100%;
        margin: 0 0 8px;
      }

      strong {
        width: 50px;
        flex: 0 0 auto;
        color: $headline-color;
        font-weight: 500;
        font-size: 2.57rem;
        line-height: 96%;
      }

      p {
        margin: 3px 0 0;
      }
    }
  }

  @include media-breakpoint-up(md) {
    .wrapper {
      display: flex;
      flex-direction: row-reverse;
      margin: 0 -10px;

      .col {
        width: 50%;
        padding: 0 10px;
      }
    }

    ul {
      margin: 0;
    }
  }

  @include media-breakpoint-up(lg) {
    padding: 66px 0 54px;

    &:before,
    &:after {
      display: none;
    }

    .block-text {
      margin-bottom: 14px;
    }

    .image {
      float: left;
      margin: 41px 0 0 16px;
      position: relative;
      // clip-path: polygon(0.5% 63%, 0.5% 46%, 0% 45.7%, 48.8% 0.5%, 50% 5%, 50.2% 10%, 50% 13%, 50.1% 29%, 49% 34%, 65% 17.5%, 68% 15.5%, 72% 14%, 74% 13.5%, 74.1% 34.5%, 73% 36.2%, 79% 35.2%, 84% 35.2%, 90% 35.8%, 90% 36.2%, 89.5% 36.7%, 89.7% 54.5%, 41.4% 99.2%, 30.2% 89.2%, 28.5% 89.9%, 25% 91.7%, 22% 92.7%, 18% 93.4%, 14% 93.7%, 7.6% 93.6%, 7.6% 75.8%, 7.3% 75.8%, 7.5% 73%, 7.1% 67.5%, 8% 70.3%, 0.5% 63.6%);
      overflow: hidden;
      background-color: $dark;

      .overlay {
        --mouse-x: 0;
        --mouse-y: 0;

        background: #ffd600;
        filter: blur(70px);
        width: 83.25%;
        height: 54.25%;
        position: absolute;
        left: var(--mouse-x);
        top: var(--mouse-y);
        mix-blend-mode: color;
        transform: translate3d(-50%, -50%, 0);
        z-index: 2;
      }
    }

    ul {
      li {
        padding: 0 0 18px;

        .line-animated {
          width: 100%;
          margin: 0 0 33px;
        }

        strong {
          width: 6.4rem;
          font-size: 2.667rem;
          line-height: 1;
        }

        p {
          margin: 0 0 10px;
        }
      }
    }
  }
}
