.block-steps {
  padding: 20px 0 34px;
  position: relative;

  &:before {
    @include bg-blue;
  }
  @include bg-before(1000px, -62px, -494px);

  .container {
    position: relative;
    z-index: 1;
  }

  .block-text {
    .button {
      margin: 10px 0 0;
    }
  }

  .wrapper {
    .col {
      margin: 0 0 10px;
    }
  }

  .btn-centered {
    padding: 10px 0 0;
  }

  @include media-breakpoint-down(lg) {
    .wrapper {
      &:before,
      &:after {
        display: none !important;
      }
    }
  }

  @include media-breakpoint-up(sm) {
    .wrapper {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -10px;
      .col {
        width: 50%;
        padding: 0 10px;
      }
    }
  }

  @include media-breakpoint-up(md) {
    .block-text {
      p {
        margin-bottom: 20px;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    padding: 62px 0 54px;

    @include bg-before(1800px, -330px, -780px);

    .block-text {
      margin-bottom: 40px;

      .col {
        &:last-child {
          padding-left: 9%;
        }
      }
      p {
        max-width: 440px;
      }
    }

    .swiper-05 {
      border: 1px solid #434343;
      @include card-borders();
      position: relative;
      overflow: hidden;

      &:before {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: #434343;
        position: absolute;
        bottom: 0;
        right: 0;
        transform: rotate(45deg) translate3d(45%, 0, 0);

        @include media-breakpoint-up(xl) {
          width: 40px;
          height: 40px;
          transform: rotate(45deg) translate3d(58%, 0, 0);
        }
      }

      .card-type-07 {
        .card {
          border: none;
          clip-path: none;
          overflow: visible;
          &:before {
            display: none;
          }
        }
      }
    }

    .wrapper {
      margin: 0;

      .col {
        width: 25%;
        padding: 19px;
        margin: 0;
        position: relative;
        z-index: 5;
      }
    }
  }
}
