.block-why-rocks {
  height: 812px;
  max-height: 100vh;

  .container {
    position: relative;
    z-index: 1;
  }

  @include media-breakpoint-up(md) {
    height: auto;
    padding: 0 0 100px;
  }

  @include media-breakpoint-up(lg) {
    position: relative;

    &:before {
      @include bg-green;
    }
    @include bg-before(1400px, 17px, -536px);
  }

  @include media-breakpoint-up(xl) {
    padding: 0 0 160px;
  }
}

// .block-why-rocks {
//   position: relative;

//   .btn-centered {
//     position: absolute;
//     left: 0;
//     right: 0;
//     padding: 0 20px;
//     top: 85vh;
//     z-index: 9;

//     .button {
//       width: 163px;

//       &:before,
//       &:after {
//         display: none;
//       }

//       .btn-wrap {
//         background: #0c283c;
//         &:before,
//         &:after {
//           display: none;
//         }
//       }

//       .btn-inner {
//         justify-content: center;
//         color: #0d99ff;
//       }
//     }

//     &.is-fixed {
//       position: fixed;
//     }
//   }

//   &.pinned-bottom {
//     .btn-centered {
//       top: auto;
//       bottom: calc(15vh - 48px);
//     }
//   }

//   .text {
//     height: 100vh;
//     padding: 50px 0 0;
//     position: absolute;
//     width: 100vw;
//     left: 0;
//     top: 0;
//     right: 0;

//     &:before {
//       content: "";
//       background: url(../img/bg/gradient-green.webp) 50% no-repeat;
//       background-size: 100% 100%;
//       position: absolute;
//       width: 600px;
//       height: 600px;
//       right: -336px;
//       top: 54px;
//     }

//     &:after {
//       content: "";
//       background-image: url(../img/bg/circles-m.png);
//       background-repeat: no-repeat;
//       background-position: 50% 54px;
//       background-size: auto;
//       position: absolute;
//       width: 100%;
//       height: 100%;
//       left: 0;
//       top: 0;
//     }

//     .h1 {
//       position: relative;
//       z-index: 5;
//     }
//   }

//   .scroller {
//     ul {
//       margin: 0 0 0;
//       padding: 50vh 0;
//       list-style: none;

//       li {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         align-content: center;
//         justify-content: center;
//         text-align: center;
//         margin: 0 0 50px;

//         &:last-child {
//           margin: 0;
//         }

//         .txt-lg {
//           position: relative;
//           z-index: 4;
//           font-size: 8rem;
//           font-weight: 400;
//           letter-spacing: 0;
//           padding: 0;
//           white-space: nowrap;
//         }
//         p {
//           position: relative;
//           z-index: 3;
//           color: $headline-color;
//           margin: 20px auto 0;
//           line-height: 1.3;
//           width: 80%;
//           max-width: 670px;
//         }
//       }
//     }
//   }

//   @include media-breakpoint-up(md) {
//     .btn-centered {
//       display: none;
//     }

//     .text {
//       &:after {
//         background-image: url(../img/bg/circles.png);
//       }
//     }

//     .scroller {
//       ul {
//         li {
//           margin: 0 0 150px;

//           .txt-lg {
//             font-size: 15rem;
//             letter-spacing: -0.06em;
//             padding: 0 10px;
//           }
//         }
//       }
//     }
//   }

//   @include media-breakpoint-up(lg) {
//     .text {
//       padding: 54px 0 0;

//       &:before {
//         width: 1400px;
//         height: 1400px;
//         right: -536px;
//         top: 108px;
//         z-index: 1;
//       }

//       &:after {
//         background-position: 50% 54px;
//         background-size: 100% auto;
//       }
//     }

//     .scroller {
//       ul {
//         li {
//           margin: 0 0 150px;

//           .txt-lg {
//             padding: 0 20px;
//             font-size: 20rem;
//             letter-spacing: -0.06em;
//           }
//           p {
//             font-size: 1.555rem;
//             line-height: 1.2;
//           }

//           &:first-child {
//             .txt-lg {
//               letter-spacing: -0.085em;
//             }
//           }

//           &:last-child {
//             .txt-lg {
//               letter-spacing: -0.08em;
//             }
//           }
//         }
//       }
//     }
//   }
// }
