.block-business {
  padding: 20px 0 34px;
  position: relative;

  &:before {
    @include bg-green;
  }
  @include bg-before(600px, 119px, -300px);

  .container {
    position: relative;
    z-index: 1;
  }

  .h1 {
    margin: 0 0 10px;
  }

  @include media-breakpoint-up(md) {
    .wrapper {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -10px;
      .col {
        width: 50%;
        padding: 0 10px;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    padding: 40px 0;

    @include bg-before(1400px, auto, -574px);
    &:before {
      bottom: 0;
    }

    .contact-form {
      p,
      .field {
        max-width: 555px;
      }

      .form-wrapper {
        max-width: 470px;
      }

      p {
        margin: 7px 0 40px;
        line-height: 1.39;
      }
    }
  }
}
