.block-hello {
  padding: 20px 0 34px;
  position: relative;

  &:before {
    @include bg-blue;
  }
  @include bg-before(1000px, 7px, -186px);

  .container {
    position: relative;
    z-index: 1;
  }

  .image {
    position: relative;
    overflow: hidden;
    background-color: $dark;
    clip-path: polygon(0 44%, 54% 0%, 55% 1%, 56% 6%, 56% 30%, 55% 33%, 74% 16%, 75% 15.5%, 77% 15%, 83% 13.5%, 82.5% 35%, 82% 36.5%, 89% 35.5%, 100% 36%, 100% 56%, 46% 100%, 45% 100%, 33% 90%, 26% 93%, 20% 94%, 15% 94%, 10% 94%, 7.5% 94%, 7.5% 76%, 7.8% 73%, 7.5% 71%, 7.4% 70%, 7.4% 69.5%, 0 63.2%);

    img {
      display: block;
      max-width: 100%;
      height: auto;
      position: relative;
      z-index: 3;

      &.image-overlay {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 1;
      }
    }

    .overlay {
      --mouse-x: 0;
      --mouse-y: 0;

      background: #ffd600;
      -webkit-filter: blur(70px);
      filter: blur(70px);
      width: 83.25%;
      height: 54.25%;
      position: absolute;
      left: var(--mouse-x);
      top: var(--mouse-y);
      mix-blend-mode: darken;
      transform: translate3d(-50%, -50%, 0);
      z-index: 2;
    }
  }

  ul {
    margin: 0 0 15px;
    padding: 0;
    list-style: none;

    li {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      padding: 0 0 13px;

      .line-animated {
        width: 100%;
        margin: 0 0 8px;
      }

      strong {
        width: 50px;
        flex: 0 0 auto;
        color: $headline-color;
        font-weight: 500;
        font-size: 2.57rem;
        line-height: 96%;
      }

      p {
        margin: 3px 0 0;
      }
    }
  }

  @include media-breakpoint-up(md) {
    .wrapper {
      display: flex;
      flex-direction: row-reverse;
      margin: 0 -10px;

      .col {
        width: 50%;
        padding: 0 10px;
      }
    }

    ul {
      margin: 0;
    }
  }

  @include media-breakpoint-up(lg) {
    padding: 66px 0 88px;

    @include bg-before(1800px, -46px, auto);
    &:before {
      left: -790px;
    }

    .block-text {
      margin-bottom: 14px;
    }

    .image {
      float: left;
      margin: 41px 0 0 16px;
    }

    ul {
      li {
        padding: 0 0 18px;

        .line-animated {
          width: 100%;
          margin: 0 0 33px;
        }

        strong {
          width: 6.4rem;
          font-size: 2.667rem;
          line-height: 1;
        }

        p {
          margin: 0 0 10px;
        }
      }
    }
  }
}
