.block-outcome {
  padding: 20px 0 34px;
  position: relative;

  &:after {
    @include bg-green;
  }
  @include bg-after(600px, 0, -254px);

  .container {
    position: relative;
    z-index: 1;
  }

  .image {
    img {
      display: block;
      max-width: 100%;
      height: auto;
      margin: auto;
    }
  }

  @include media-breakpoint-up(lg) {
    padding: 54px 0 60px;

    @include bg-after(1400px, -277px, 50%);
  }

  &.block-outcome-last {
    &:after {
      display: none;
    }

    @include media-breakpoint-up(lg) {
      &:after {
        @include bg-green;
        display: block;
      }

      @include bg-after(1400px, -81px, -450px);
    }
  }
}
