.block-why-rocks {
  position: relative;
  background-image: url(../img/bg/circles-m.png), url(../img/bg/gradient-green.webp);
  background-repeat: no-repeat;
  background-position: 50%, top 54px right -336px;
  background-size: auto, 600px 600px;

  &.pinned {
    background-attachment: fixed;
    .bg {
      position: fixed;
      top: 0;
      bottom: 0;
    }
  }

  &.pinned-top {
    .bg {
      top: 0;
      bottom: auto;
    }
  }

  &.pinned-bottom {
    .bg {
      top: auto;
      bottom: 0;
    }
  }

  .bg {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: url(../img/bg/circles-m.png) 50% no-repeat;
    background-size: auto;
    left: 0;
    right: 0;
    z-index: 0;

    .bg-inner {
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 1;

      &:after {
        @include bg-green;
      }
      @include bg-after(600px, 54px, -336px);
    }
  }

  .text {
    height: 100vh;
    padding: 50px 0 0;
    position: absolute;
    width: 100vw;
    left: 0;
    top: 0;
    right: 0;
    z-index: 9 !important;

    .btn-centered {
      position: absolute;
      left: 0;
      right: 0;
      padding: 0 20px;
      bottom: 10%;
      z-index: 9;

      .button {
        width: 163px;

        &:before,
        &:after {
          display: none;
        }

        .btn-wrap {
          background: #0c283c;
          &:before,
          &:after {
            display: none;
          }
        }

        .btn-inner {
          justify-content: center;
          color: #0d99ff;
        }
      }
    }

    .h1 {
      position: relative;
      z-index: 5;
    }
  }

  .scroller {
    overflow: hidden;
    ul {
      margin: 0 0 0;
      padding: 50vh 0 0;
      list-style: none;

      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        text-align: center;
        margin: 0 0 50px;

        &:last-child {
          margin: 0;
        }

        .txt-lg {
          position: relative;
          z-index: 4;
          font-size: 11rem;
          font-weight: 400;
          opacity: 0;
          letter-spacing: 0;
          padding: 0 20px;
          white-space: nowrap;
        }
        p {
          position: relative;
          z-index: 3;
          color: $headline-color;
          margin: 20px auto 0;
          line-height: 1.3;
          width: 80%;
          max-width: 670px;
          opacity: 0;
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    background-image: url(../img/bg/circles.png), url(../img/bg/gradient-green.webp);

    &.pinned {
      .bg {
        top: 54px;
      }
    }

    &.pinned-top {
      .bg {
        top: 54px;
      }
    }

    .bg {
      background-image: url(../img/bg/circles.png);
      background-position: 50%;
      background-size: 100% auto;
      background-repeat: no-repeat;
      height: calc(100vh - 54px);
      top: 54px;
    }
    .text {
      .btn-wrap {
        display: none;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    background-image: url(../img/bg/gradient-green.webp), url(../img/bg/circles.png);
    background-position: top 12px right -536px, 50% 54px;
    background-size: 1400px 1400px, 100% auto;

    .bg {
      .bg-inner {
        @include bg-after(1400px, 12px, auto);
        &:after {
          right: -536px;
        }
      }
    }

    .text {
      padding: 54px 0 0;
    }

    .scroller {
      ul {
        li {
          margin: 0 0 150px;

          .txt-lg {
            font-size: 20rem;
            letter-spacing: -0.06em;
          }
          p {
            font-size: 1.555rem;
            line-height: 1.2;
          }

          &:first-child {
            .txt-lg {
              letter-spacing: -0.085em;
            }
          }

          &:last-child {
            .txt-lg {
              letter-spacing: -0.08em;
            }
          }
        }
      }
    }
  }
}
