.block-they-said {
  padding: 20px 0 34px;
  position: relative;

  .card-type-05,
  .card-type-06 {
    .card {
      z-index: 2;
      &:before {
        content: "";
        @include abs;
        @include gradient-y(rgba(233, 238, 241, 0.5), rgba(30, 30, 30, 0.5));
        @include card-borders();
      }

      .card-inner {
        background: linear-gradient(180deg, #050505 0%, #191919 100%);
        position: relative;
        overflow: hidden;
        @include card-borders();

        &:before {
          content: "";
          @include abs;
          background-color: $black;
          opacity: 0;
          transition: opacity 0.3s;
          display: block !important;
        }

        .text,
        .card-top,
        .card-text,
        .card-author {
          position: relative;
          z-index: 2;
        }
      }
    }

    &:hover {
      .card {
        .card-inner {
          &:before {
            opacity: 1;
          }
        }
      }
    }
  }

  &:after {
    @include bg-green;
  }
  @include bg-after(600px, 221px, -226px);

  .container {
    position: relative;
    z-index: 10;
  }

  @include media-breakpoint-up(lg) {
    padding: 60px 0 54px;

    @include bg-after(1400px, 463px, 31.6vw);
  }
}
