.block-awards {
  padding: 20px 0 34px;
  position: relative;

  &:before {
    @include bg-blue;
  }
  @include bg-before(1000px, 268px, -402px);

  .container {
    position: relative;
    z-index: 1;
  }

  .wrapper {
    .col {
      margin: 0 0 10px;
    }
  }

  .card-type-04 {
    padding: 200px 0 0;
  }

  @include media-breakpoint-up(sm) {
    .wrapper {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -10px;
      .col {
        width: 50%;
        padding: 0 10px;
      }
    }

    .card-type-04 {
      padding: 300px 0 0;
    }
  }
  @include media-breakpoint-up(lg) {
    padding: 20px 0 54px;

    @include bg-before(1800px, -144px, auto);
    &:before {
      left: -718px;
    }

    .wrapper {
      .col {
        width: 25%;
        padding: 0 10px;
      }
    }

    .card-type-04 {
      padding: 350px 0 0;
    }
  }

  @include media-breakpoint-up(xl) {
    .card-type-04 {
      padding: 400px 0 0;
    }
  }
}
