.block-projects {
  padding: 20px 0 24px;
  position: relative;

  &:after {
    @include bg-blue;
  }
  @include bg-after(1000px, 1150px, -468px);

  .container {
    position: relative;
    z-index: 1;
  }

  .block-text {
    margin-bottom: 20px;
  }

  .projects-filter {
    position: relative;
    z-index: 9;

    .tab-nav {
      margin-bottom: 20px;

      li {
        &.hidden {
          display: none;
        }
      }
    }

    .projects-filter-sort {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 0 20px;
    }

    .projects-filter-sort-dropdown {
      position: relative;

      .projects-filter-sort-dropdown-selected {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1px;
        z-index: 2;
        width: 119px;
        height: 40px;
        cursor: pointer;

        &:before {
          content: "";
          position: absolute;
          z-index: 0;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          padding: 1px;
          background: #91999e;
          -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
          -webkit-mask-composite: xor;
          mask-composite: exclude;
          border-radius: 5px;
        }

        &:after {
          content: "";
          width: 12px;
          height: 7px;
          background: url(../img/bg/select.svg) no-repeat;
          flex: 0 0 auto;
          margin: 0 17px 0 0;
        }

        span {
          display: block;
          width: 100%;
          padding: 0 0 0 10px;
          font-size: 14px;
          line-height: 1.2;
          height: 1.2em;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin: 0 0 2px;
        }
      }

      .projects-filter-sort-dropdown-list {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        border: 1px solid #91999e;
        border-radius: 5px;
        background-color: $dark;
        padding: 46px 5px 1px 10px;

        label {
          display: block;
          cursor: pointer;
          margin: 0 0 20px;

          span {
            display: block;
            position: relative;
            padding: 0 0 0 26px;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.01em;
            color: $headline-color;

            &:before {
              content: "";
              width: 16px;
              position: absolute;
              height: 16px;
              left: 0;
              top: 0;
              border: 1px solid $headline-color;
              border-radius: 2px;
            }
          }
          input {
            display: none;

            &:checked {
              & + span {
                &:before {
                  background: $blue url(../img/bg/checkbox.svg) 50% no-repeat;
                  border-color: $blue;
                }
              }
            }
          }
        }
      }

      &.opened {
        .projects-filter-sort-dropdown-selected {
          &:before {
            display: none;
          }
        }
      }

      &.selected {
        .projects-filter-sort-dropdown-selected {
          &:before {
            @include gradient-base(90deg);
          }
          &:after {
            background-image: url(../img/bg/select-active.svg);
          }
          span {
            background-color: $white;
            background-image: linear-gradient(90deg, #0d99ff 0%, #99faf4 100%);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }
  }

  .wrapper {
    .col {
      margin: 0 0 10px;
    }
  }

  @include media-breakpoint-up(sm) {
    .projects-filter {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 38px;

      .tab-nav {
        margin-bottom: 0;
      }

      .projects-filter-sort {
        margin: 0;
        padding: 10px 0 0 10px;

        .jstyling-select {
          margin-left: 10px;
        }
      }
    }

    .wrapper {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -10px;
      .col {
        width: 50%;
        padding: 0 10px;
        margin: 0 0 20px;

        &:nth-child(2n) {
          transform: translateY(50px);
        }

        .card-type-02 {
          padding: 0;
          height: 400px;
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    .wrapper {
      .col {
        .card-type-02 {
          height: 450px;
        }
      }
    }
    .projects-filter {
      .tab-nav {
        label {
          font-size: 14px;

          & > span {
            padding: 14px 19px;
          }
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    padding: 22px 0 120px;

    @include bg-after(1800px, 1098px, -715px);

    .block-text {
      margin-bottom: 8px;
    }

    .wrapper {
      .col {
        margin: 0 0 69px;

        &:nth-child(2n) {
          transform: translateY(80px);
        }

        .card-type-02 {
          max-width: 555px;
          height: 580px;
        }
      }
    }

    .projects-filter {
      .projects-filter-sort-dropdown {
        margin-left: 20px;
        .projects-filter-sort-dropdown-selected {
          width: 157px;
          height: 50px;

          &:after {
            margin: 0 20px 0 0;
          }

          span {
            padding: 0 0 0 14px;
          }
        }

        .projects-filter-sort-dropdown-list {
          padding: 54px 15px 1px;
        }
      }
    }
  }

  @include media-breakpoint-up(xl) {
    .wrapper {
      .col {
        .card-type-02 {
          height: 660px;
        }
      }
    }
  }
}
