.block-stages {
  padding: 35px 0 0;

  .block-number,
  .block-text,
  .filter {
    position: relative;
    z-index: 5;
  }

  .block-text {
    margin-bottom: 5px;
  }

  .filter {
    margin: 0 -20px 28px 0;
    overflow: auto;

    .tab-nav {
      display: inline-flex;
      flex-wrap: nowrap;
      white-space: nowrap;
      padding: 0 10px 10px 0;
    }
  }

  .stage-box {
    position: relative;

    &.stage-box-01 {
      &:after {
        @include bg-green;
      }
      @include bg-after(600px, -362px, -281px);
    }

    &.stage-box-02 {
      &:before {
        @include bg-blue;
      }
      @include bg-before(1000px, -334px, -423px);

      &:after {
        @include bg-green;
      }
      @include bg-after(600px, 430px, -331px);
    }

    &.stage-box-03 {
      &:before {
        @include bg-blue;
      }
      @include bg-before(1000px, -196px, -436px);

      &:after {
        @include bg-blue;
      }
      @include bg-after(1000px, 794px, -392px);
    }

    &.stage-box-04 {
      &:before {
        @include bg-green;
      }
      @include bg-before(600px, -407px, -244px);

      &:after {
        @include bg-blue;
      }
      @include bg-after(1000px, 82px, -460px);
    }

    .wrapper {
      position: relative;
      z-index: 1;
    }

    .h1 {
      margin-bottom: 11px;
    }

    .stage-description {
      margin: 0 0 20px;

      p {
        margin: 0;
      }
    }

    .stage-list {
      padding: 0 0 38px;

      .item {
        margin-bottom: 10px;
      }
    }
  }

  &.color-green {
    .stage-box {
      &:before,
      &:after {
        background-color: #0b2516 !important;
      }
    }
  }

  &.color-blue {
    .stage-box {
      &:before,
      &:after {
        background-color: #061b2a !important;
      }
    }
  }

  &.color-purple {
    .stage-box {
      &:before,
      &:after {
        background-color: #2a1e0c !important;
      }
    }
  }

  &.color-yellow {
    .stage-box {
      &:before,
      &:after {
        background-color: #2a1e0c !important;
      }
    }
  }

  &.color-red {
    .stage-box {
      &:before,
      &:after {
        background-color: #2a110f !important;
      }
    }
  }

  &.color-lightblue {
    .stage-box {
      &:before,
      &:after {
        background-color: #13242a !important;
      }
    }
  }

  &.color-lightyellow {
    .stage-box {
      &:before,
      &:after {
        background-color: #2a240a !important;
      }
    }
  }

  @include media-breakpoint-up(sm) {
    .stage-box {
      .wrapper {
        display: flex;
        margin: 0 -10px;

        .col {
          padding: 0 10px;
          width: 50%;
        }
      }

      .h1 {
        margin-bottom: 0;
      }
    }
  }

  @include media-breakpoint-up(md) {
    .block-text {
      margin-bottom: 8px;
    }

    .filter {
      margin: 0 0 40px;
      overflow: auto;

      .tab-nav {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    padding: 59px 0 0;

    .stage-box {
      .h1 {
        margin: 0;
      }

      .wrapper {
        .col {
          &:first-child {
            width: 35%;
          }
          &:last-child {
            width: 65%;
          }
        }
      }

      .stage-description {
        max-width: 555px;
        margin: 0 0 40px;
        padding: 20px 0 0;
      }

      .stage-list {
        display: flex;
        margin: 0 -10px;
        flex-wrap: wrap;

        .item {
          padding: 0 10px;
          width: 50%;
          margin: 0 0 20px;
        }
      }

      &.stage-box-01 {
        &:before {
          @include bg-blue;
        }
        @include bg-before(1800px, -100px, -655px);

        @include bg-after(1400px, -540px, -520px);
      }

      &.stage-box-02 {
        &:before,
        &:after {
          display: none;
        }
      }

      &.stage-box-03 {
        &:before {
          @include bg-green;
        }
        @include bg-before(1400px, 253px, -496px);

        &:after {
          @include bg-blue;
        }
        @include bg-after(1800px, 673px, -960px);
      }

      &.stage-box-04 {
        &:before {
          @include bg-blue;
        }
        @include bg-before(1800px, 257px, -678px);

        &:after {
          @include bg-green;
        }
        @include bg-after(1400px, 673px, -595px);
      }
    }
  }

  @include media-breakpoint-up(xl) {
    .stage-box {
      .wrapper {
        .col {
          &:first-child {
            width: 50%;
          }
          &:last-child {
            width: 50%;
          }
        }
      }

      .stage-list {
        padding: 0 0 58.5px;
      }
    }
  }
}
