.block-work-with {
  padding: 20px 0 25px;
  position: relative;

  &:before {
    @include bg-blue;
  }
  @include bg-before(1000px, 99px, -460px);

  .container {
    position: relative;
    z-index: 1;
  }

  .block-text {
    margin-bottom: 23px;

    .h1 {
      br {
        display: none;
      }
    }
  }

  .wrapper {
    .col {
      position: relative;
      z-index: 5;
      margin: 0 0 40px;

      &:last-child {
        margin: 0;
      }
    }
  }

  @include media-breakpoint-up(lg) {
  }

  @include media-breakpoint-up(lg) {
    padding: 5px 0 54px;

    @include bg-before(1800px, 0, -672px);

    .block-text {
      margin-bottom: 38px;

      .h1 {
        br {
          display: block;
        }
      }
    }
  }
}
