.block-work-with {
  padding: 20px 0 25px;
  position: relative;

  &:before {
    @include bg-blue;
  }
  @include bg-before(1000px, 99px, -460px);

  .container {
    position: relative;
    z-index: 1;
  }

  .block-text {
    margin-bottom: 23px;

    .h1 {
      br {
        display: none;
      }
    }
  }

  .wrapper {
    .col {
      position: relative;
      z-index: 5;
      margin: 0 0 40px;

      &:last-child {
        margin: 0;
      }
    }
  }

  @include media-breakpoint-up(md) {
    .wrapper {
      display: flex;
      border: 1px solid #434343;
      @include card-borders();
      position: relative;

      &:before {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: #434343;
        position: absolute;
        bottom: 0;
        right: 0;
        transform: rotate(45deg) translate3d(45%, 0, 0);

        @include media-breakpoint-up(xl) {
          width: 40px;
          height: 40px;
          transform: rotate(45deg) translate3d(58%, 0, 0);
        }
      }

      .col {
        margin: 0;
        width: 33.3333%;

        .card-effect-06 {
          height: 100%;

          .card {
            border: none;
            clip-path: none;

            &:before {
              display: none;
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    padding: 5px 0 54px;

    @include bg-before(1800px, 0, -672px);

    .block-text {
      margin-bottom: 38px;

      .h1 {
        br {
          display: block;
        }
      }
    }

    .card-effect-03-wrapper {
      .wrapper {
        .col {
          width: 32.4%;
        }
      }
    }
  }
}
