.block-stages {
  padding: 35px 0 0;

  .block-number,
  .block-text,
  .filter {
    position: relative;
    z-index: 5;
  }

  .filter {
    margin: 0 -20px 28px 0;
    overflow: auto;

    .tab-nav {
      display: inline-flex;
      flex-wrap: nowrap;
      white-space: nowrap;
      padding: 0 10px 10px 0;
    }
  }

  .stage-box {
    position: relative;

    &.stage-box-01 {
      &:after {
        background-image: url(../img/bg/gradient-green.webp), url(../img/bg/services-green.webp), url(../img/bg/services-blue.webp), url(../img/bg/services-purple.webp), url(../img/bg/services-orange.webp), url(../img/bg/services-red.webp), url(../img/bg/services-lightblue.webp), url(../img/bg/services-yellow.webp);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: 100%, 0, 0, 0, 0, 0, 0, 0;
      }
      @include bg-after(600px, -362px, -281px);
    }

    &.stage-box-02 {
      &:before {
        background-image: url(../img/bg/gradient-blue.webp), url(../img/bg/services-green.webp), url(../img/bg/services-blue.webp), url(../img/bg/services-purple.webp), url(../img/bg/services-orange.webp), url(../img/bg/services-red.webp), url(../img/bg/services-lightblue.webp), url(../img/bg/services-yellow.webp);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: 100%, 0, 0, 0, 0, 0, 0, 0;
      }
      @include bg-before(1000px, -334px, -423px);

      &:after {
        background-image: url(../img/bg/gradient-green.webp), url(../img/bg/services-green.webp), url(../img/bg/services-blue.webp), url(../img/bg/services-purple.webp), url(../img/bg/services-orange.webp), url(../img/bg/services-red.webp), url(../img/bg/services-lightblue.webp), url(../img/bg/services-yellow.webp);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: 100%, 0, 0, 0, 0, 0, 0, 0;
      }
      @include bg-after(600px, 430px, -331px);
    }

    &.stage-box-03 {
      &:before {
        background-image: url(../img/bg/gradient-blue.webp), url(../img/bg/services-green.webp), url(../img/bg/services-blue.webp), url(../img/bg/services-purple.webp), url(../img/bg/services-orange.webp), url(../img/bg/services-red.webp), url(../img/bg/services-lightblue.webp), url(../img/bg/services-yellow.webp);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: 100%, 0, 0, 0, 0, 0, 0, 0;
      }
      @include bg-before(1000px, -196px, -436px);

      &:after {
        background-image: url(../img/bg/gradient-blue.webp), url(../img/bg/services-green.webp), url(../img/bg/services-blue.webp), url(../img/bg/services-purple.webp), url(../img/bg/services-orange.webp), url(../img/bg/services-red.webp), url(../img/bg/services-lightblue.webp), url(../img/bg/services-yellow.webp);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: 100%, 0, 0, 0, 0, 0, 0, 0;
      }
      @include bg-after(1000px, 794px, -392px);
    }

    &.stage-box-04 {
      &:before {
        background-image: url(../img/bg/gradient-green.webp), url(../img/bg/services-green.webp), url(../img/bg/services-blue.webp), url(../img/bg/services-purple.webp), url(../img/bg/services-orange.webp), url(../img/bg/services-red.webp), url(../img/bg/services-lightblue.webp), url(../img/bg/services-yellow.webp);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: 100%, 0, 0, 0, 0, 0, 0, 0;
      }
      @include bg-before(600px, -407px, -244px);

      &:after {
        background-image: url(../img/bg/gradient-blue.webp), url(../img/bg/services-green.webp), url(../img/bg/services-blue.webp), url(../img/bg/services-purple.webp), url(../img/bg/services-orange.webp), url(../img/bg/services-red.webp), url(../img/bg/services-lightblue.webp), url(../img/bg/services-yellow.webp);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: 100%, 0, 0, 0, 0, 0, 0, 0;
      }
      @include bg-after(1000px, 82px, -460px);
    }

    .wrapper {
      position: relative;
      z-index: 1;
    }

    .h1 {
      margin-bottom: 11px;
    }

    .stage-description {
      margin: 0 0 20px;

      p {
        margin: 0;
      }
    }

    .stage-list {
      padding: 0 0 38px;

      .item {
        margin-bottom: 10px;
      }
    }
  }

  &.color-green {
    .stage-box {
      &:before,
      &:after {
        animation: bgGreen 0.5s ease 0s forwards;
      }
    }

    @keyframes bgGreen {
      0% {
        background-size: 100%, 0, 0, 0, 0, 0, 0, 0;
        opacity: 1;
      }
      50% {
        background-size: 100%, 0, 0, 0, 0, 0, 0, 0;
        opacity: 0;
      }
      51% {
        background-size: 0, 100%, 0, 0, 0, 0, 0, 0;
        opacity: 0;
      }
      100% {
        background-size: 0, 100%, 0, 0, 0, 0, 0, 0;
        opacity: 1;
      }
    }
  }

  &.color-blue {
    .stage-box {
      &:before,
      &:after {
        animation: bgBlue 0.5s ease 0s forwards;
      }
    }

    @keyframes bgBlue {
      0% {
        background-size: 100%, 0, 0, 0, 0, 0, 0, 0;
        opacity: 1;
      }
      50% {
        background-size: 100%, 0, 0, 0, 0, 0, 0, 0;
        opacity: 0;
      }
      51% {
        background-size: 0, 0, 100%, 0, 0, 0, 0, 0;
        opacity: 0;
      }
      100% {
        background-size: 0, 0, 100%, 0, 0, 0, 0, 0;
        opacity: 1;
      }
    }
  }

  &.color-purple {
    .stage-box {
      &:before,
      &:after {
        animation: bgPurple 0.5s ease 0s forwards;
      }
    }

    @keyframes bgPurple {
      0% {
        background-size: 100%, 0, 0, 0, 0, 0, 0, 0;
        opacity: 1;
      }
      50% {
        background-size: 100%, 0, 0, 0, 0, 0, 0, 0;
        opacity: 0;
      }
      51% {
        background-size: 0, 0, 0, 100%, 0, 0, 0, 0;
        opacity: 0;
      }
      100% {
        background-size: 0, 0, 0, 100%, 0, 0, 0, 0;
        opacity: 1;
      }
    }
  }

  &.color-orange {
    .stage-box {
      &:before,
      &:after {
        animation: bgOrange 0.5s ease 0s forwards;
      }
    }

    @keyframes bgOrange {
      0% {
        background-size: 100%, 0, 0, 0, 0, 0, 0, 0;
        opacity: 1;
      }
      50% {
        background-size: 100%, 0, 0, 0, 0, 0, 0, 0;
        opacity: 0;
      }
      51% {
        background-size: 0, 0, 0, 0, 100%, 0, 0, 0;
        opacity: 0;
      }
      100% {
        background-size: 0, 0, 0, 0, 100%, 0, 0, 0;
        opacity: 1;
      }
    }
  }

  &.color-red {
    .stage-box {
      &:before,
      &:after {
        animation: bgRed 0.5s ease 0s forwards;
      }
    }

    @keyframes bgRed {
      0% {
        background-size: 100%, 0, 0, 0, 0, 0, 0, 0;
        opacity: 1;
      }
      50% {
        background-size: 100%, 0, 0, 0, 0, 0, 0, 0;
        opacity: 0;
      }
      51% {
        background-size: 0, 0, 0, 0, 0, 100%, 0, 0;
        opacity: 0;
      }
      100% {
        background-size: 0, 0, 0, 0, 0, 100%, 0, 0;
        opacity: 1;
      }
    }
  }

  &.color-lightblue {
    .stage-box {
      &:before,
      &:after {
        animation: bgLightblue 0.5s ease 0s forwards;
      }
    }

    @keyframes bgLightblue {
      0% {
        background-size: 100%, 0, 0, 0, 0, 0, 0, 0;
        opacity: 1;
      }
      50% {
        background-size: 100%, 0, 0, 0, 0, 0, 0, 0;
        opacity: 0;
      }
      51% {
        background-size: 0, 0, 0, 0, 0, 0, 100%, 0;
        opacity: 0;
      }
      100% {
        background-size: 0, 0, 0, 0, 0, 0, 100%, 0;
        opacity: 1;
      }
    }
  }

  &.color-yellow {
    .stage-box {
      &:before,
      &:after {
        animation: bgYellow 0.5s ease 0s forwards;
      }
    }

    @keyframes bgYellow {
      0% {
        background-size: 100%, 0, 0, 0, 0, 0, 0, 0;
        opacity: 1;
      }
      50% {
        background-size: 100%, 0, 0, 0, 0, 0, 0, 0;
        opacity: 0;
      }
      51% {
        background-size: 0, 0, 0, 0, 0, 0, 0, 100%;
        opacity: 0;
      }
      100% {
        background-size: 0, 0, 0, 0, 0, 0, 0, 100%;
        opacity: 1;
      }
    }
  }

  @include media-breakpoint-up(sm) {
    .stage-box {
      .wrapper {
        display: flex;
        margin: 0 -10px;

        .col {
          padding: 0 10px;
          width: 50%;
        }
      }

      .h1 {
        margin-bottom: 0;
      }
    }
  }

  @include media-breakpoint-up(md) {
    .filter {
      margin: 0 0 40px;
      overflow: auto;

      .tab-nav {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    padding: 59px 0 0;

    .stage-box {
      .h1 {
        margin: 0;
      }

      .wrapper {
        .col {
          &:first-child {
            width: 35%;
          }
          &:last-child {
            width: 65%;
          }
        }
      }

      .stage-description {
        max-width: 555px;
        margin: 0 0 40px;
        padding: 20px 0 0;
      }

      .stage-list {
        display: flex;
        margin: 0 -10px;
        flex-wrap: wrap;

        .item {
          padding: 0 10px;
          width: 50%;
          margin: 0 0 20px;
        }
      }

      &.stage-box-01 {
        &:before {
          background-image: url(../img/bg/gradient-blue.webp), url(../img/bg/services-green.webp), url(../img/bg/services-blue.webp), url(../img/bg/services-purple.webp), url(../img/bg/services-orange.webp), url(../img/bg/services-red.webp), url(../img/bg/services-lightblue.webp), url(../img/bg/services-yellow.webp);
          background-position: 50%;
          background-repeat: no-repeat;
          background-size: 100%, 0, 0, 0, 0, 0, 0, 0;
        }
        @include bg-before(1800px, -100px, -655px);

        @include bg-after(1400px, -540px, -520px);
      }

      &.stage-box-02 {
        &:before,
        &:after {
          display: none;
        }
      }

      &.stage-box-03 {
        &:before {
          background-image: url(../img/bg/gradient-green.webp), url(../img/bg/services-green.webp), url(../img/bg/services-blue.webp), url(../img/bg/services-purple.webp), url(../img/bg/services-orange.webp), url(../img/bg/services-red.webp), url(../img/bg/services-lightblue.webp), url(../img/bg/services-yellow.webp);
          background-position: 50%;
          background-repeat: no-repeat;
          background-size: 100%, 0, 0, 0, 0, 0, 0, 0;
        }
        @include bg-before(1400px, 253px, -496px);

        &:after {
          background-image: url(../img/bg/gradient-blue.webp), url(../img/bg/services-green.webp), url(../img/bg/services-blue.webp), url(../img/bg/services-purple.webp), url(../img/bg/services-orange.webp), url(../img/bg/services-red.webp), url(../img/bg/services-lightblue.webp), url(../img/bg/services-yellow.webp);
          background-position: 50%;
          background-repeat: no-repeat;
          background-size: 100%, 0, 0, 0, 0, 0, 0, 0;
        }
        @include bg-after(1800px, 673px, -960px);
      }

      &.stage-box-04 {
        &:before {
          background-image: url(../img/bg/gradient-blue.webp), url(../img/bg/services-green.webp), url(../img/bg/services-blue.webp), url(../img/bg/services-purple.webp), url(../img/bg/services-orange.webp), url(../img/bg/services-red.webp), url(../img/bg/services-lightblue.webp), url(../img/bg/services-yellow.webp);
          background-position: 50%;
          background-repeat: no-repeat;
          background-size: 100%, 0, 0, 0, 0, 0, 0, 0;
        }
        @include bg-before(1800px, 257px, -678px);

        &:after {
          background-image: url(../img/bg/gradient-green.webp), url(../img/bg/services-green.webp), url(../img/bg/services-blue.webp), url(../img/bg/services-purple.webp), url(../img/bg/services-orange.webp), url(../img/bg/services-red.webp), url(../img/bg/services-lightblue.webp), url(../img/bg/services-yellow.webp);
          background-position: 50%;
          background-repeat: no-repeat;
          background-size: 100%, 0, 0, 0, 0, 0, 0, 0;
        }
        @include bg-after(1400px, 673px, -595px);
      }
    }
  }

  @include media-breakpoint-up(xl) {
    .stage-box {
      .wrapper {
        .col {
          &:first-child {
            width: 50%;
          }
          &:last-child {
            width: 50%;
          }
        }
      }

      .stage-list {
        padding: 0 0 58.5px;
      }
    }
  }
}
