.block-pros {
  padding: 0 0 40px;
  position: relative;

  &:before {
    @include bg-blue;
  }
  @include bg-before(1000px, -4px, -439px);

  .container {
    position: relative;
    z-index: 1;
  }

  .block-text {
    margin-bottom: 20px;

    .h1 {
      br {
        display: none;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    padding: 34px 0 65px;

    @include bg-before(1800px, 61px, -753px);

    .block-text {
      margin-bottom: 38px;

      .h1 {
        br {
          display: block;
        }
      }
    }
  }
}
