.block-pros {
  padding: 0 0 40px;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 473px;
    height: 473px;
    right: -147px;
    top: -250px;
    background: #001625;
    filter: blur(250px);
    border-radius: 100%;
    will-change: transform;
  }

  &:after {
    content: "";
    position: absolute;
    width: 473px;
    height: 473px;
    left: -253px;
    top: 247px;
    background: #001f1e;
    filter: blur(250px);
    border-radius: 100%;
    will-change: transform;
  }

  .container {
    position: relative;
    z-index: 1;
  }

  .block-text {
    margin-bottom: 20px;

    .h1 {
      br {
        display: none;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    padding: 34px 0 65px;

    &:before {
      width: 69.1vw;
      height: 69.1vw;
      right: -164px;
      top: -455px;
    }

    &:after {
      display: none;
    }

    .block-text {
      margin-bottom: 38px;

      .h1 {
        br {
          display: block;
        }
      }
    }
  }
}
