.block-work-with {
  padding: 20px 0 25px;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    width: 473px;
    height: 473px;
    right: -200px;
    top: 242px;
    background: #001625;
    filter: blur(250px);
    border-radius: 100%;
    will-change: transform;
  }

  .container {
    position: relative;
    z-index: 1;
  }

  .block-text {
    margin-bottom: 23px;

    .h1 {
      br {
        display: none;
      }
    }
  }

  .card-effect-03-wrapper {
    .bg {
      position: relative;

      &:before {
        content: "";
        @include abs;
        @include gradient-y(rgba(218, 218, 218, 0.8), rgba(90, 90, 90, 0.8));
        @include card-borders();
      }

      &:after {
        content: "";
        position: absolute;
        left: 1px;
        top: 1px;
        bottom: 1px;
        right: 1px;
        background-color: $black;
        @include card-borders();
      }
    }

    .wrapper {
      .col {
        position: relative;
        z-index: 5;
        margin: 0 0 40px;

        &:last-child {
          margin: 0;
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    .card-effect-03-wrapper {
      .wrapper {
        display: flex;
        .col {
          margin: 0;
          width: 33.3333%;
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    padding: 0 0 54px;

    &:before {
      width: 44.7vw;
      height: 44.7vw;
      top: 196px;
      right: 103px;
    }

    &:after {
      content: "";
      width: 50.83vw;
      height: 50.83vw;
      bottom: -230px;
      left: -324px;
      background: #001625;
      filter: blur(250px);
      border-radius: 100%;
      will-change: transform;
    }

    .block-text {
      margin-bottom: 38px;

      .h1 {
        br {
          display: block;
        }
      }
    }

    .card-effect-03-wrapper {
      .wrapper {
        .col {
          width: 32.4%;
        }
      }
    }
  }
}
