.block-stages {
  padding: 35px 0 0;

  .block-number,
  .block-text,
  .filter {
    position: relative;
    z-index: 5;
  }

  .block-text {
    margin-bottom: 5px;
  }

  .filter {
    margin: 0 -20px 28px 0;
    overflow: auto;

    .tab-nav {
      display: inline-flex;
      flex-wrap: nowrap;
      white-space: nowrap;
      padding: 0 10px 10px 0;
    }
  }

  .stage-box {
    position: relative;

    &:before,
    &:after {
      position: absolute;
      filter: blur(250px);
      border-radius: 100%;
      will-change: transform;
      transition: background-color 0.3s;
    }

    &.stage-box-01 {
      &:before {
        content: "";
        width: 473px;
        height: 473px;
        right: -200px;
        top: -175px;
        background-color: #001625;
      }
    }

    &.stage-box-02 {
      &:before {
        content: "";
        width: 473px;
        height: 473px;
        left: -200px;
        top: -153px;
        background-color: #001f1e;
      }
      &:after {
        content: "";
        width: 473px;
        height: 473px;
        right: -187px;
        bottom: -230px;
        background-color: #001625;
      }
    }

    &.stage-box-03 {
      &:before {
        content: "";
        width: 473px;
        height: 473px;
        left: -213px;
        top: 248px;
        background-color: #001f1e;
      }
      &:after {
        content: "";
        width: 473px;
        height: 473px;
        right: -160px;
        bottom: 63px;
        background-color: #001625;
      }
    }

    &.stage-box-04 {
      &:before {
        content: "";
        width: 473px;
        height: 473px;
        left: -240px;
        top: 26px;
        background-color: #001f1e;
      }
      &:after {
        content: "";
        width: 473px;
        height: 473px;
        left: -265px;
        bottom: -110px;
        background-color: #001625;
      }
    }

    .wrapper {
      position: relative;
      z-index: 1;
    }

    .h1 {
      margin-bottom: 11px;
    }

    .stage-description {
      margin: 0 0 20px;

      p {
        margin: 0;
      }
    }

    .stage-list {
      padding: 0 0 38px;

      .item {
        margin-bottom: 10px;
      }
    }
  }

  &.color-green {
    .stage-box {
      &:before,
      &:after {
        background-color: #0b2516 !important;
      }
    }
  }

  &.color-blue {
    .stage-box {
      &:before,
      &:after {
        background-color: #061b2a !important;
      }
    }
  }

  &.color-purple {
    .stage-box {
      &:before,
      &:after {
        background-color: #2a1e0c !important;
      }
    }
  }

  &.color-yellow {
    .stage-box {
      &:before,
      &:after {
        background-color: #2a1e0c !important;
      }
    }
  }

  &.color-red {
    .stage-box {
      &:before,
      &:after {
        background-color: #2a110f !important;
      }
    }
  }

  &.color-lightblue {
    .stage-box {
      &:before,
      &:after {
        background-color: #13242a !important;
      }
    }
  }

  &.color-lightyellow {
    .stage-box {
      &:before,
      &:after {
        background-color: #2a240a !important;
      }
    }
  }

  @include media-breakpoint-up(sm) {
    .stage-box {
      .wrapper {
        display: flex;
        margin: 0 -10px;

        .col {
          padding: 0 10px;
          width: 50%;
        }
      }

      .h1 {
        margin-bottom: 0;
      }
    }
  }

  @include media-breakpoint-up(md) {
    .block-text {
      margin-bottom: 8px;
    }

    .filter {
      margin: 0 0 40px;
      overflow: auto;

      .tab-nav {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    padding: 59px 0 0;

    .stage-box {
      .h1 {
        margin: 0;
      }

      .wrapper {
        .col {
          &:first-child {
            width: 35%;
          }
          &:last-child {
            width: 65%;
          }
        }
      }

      .stage-description {
        max-width: 555px;
        margin: 0 0 40px;
      }

      .stage-list {
        display: flex;
        margin: 0 -10px;
        flex-wrap: wrap;

        .item {
          padding: 0 10px;
          width: 50%;
          margin: 0 0 20px;
        }
      }

      &.stage-box-01 {
        &:before {
          content: "";
          width: 59.3vw;
          height: 59.3vw;
          left: -306px;
          top: -264px;
          background-color: #001625;
        }
      }

      &.stage-box-02 {
        &:before {
          content: "";
          width: 69.1vw;
          height: 69.1vw;
          left: auto;
          right: -317px;
          top: 50px;
          background-color: #001f1e;
        }
        &:after {
          display: none;
        }
      }

      &.stage-box-03 {
        &:before {
          content: "";
          width: 69.1vw;
          height: 69.1vw;
          left: -325px;
          top: 308px;
          background-color: #001625;
        }
        &:after {
          display: none;
        }
      }

      &.stage-box-04 {
        &:before {
          content: "";
          width: 69.1vw;
          height: 69.1vw;
          right: -193px;
          top: -429px;
          background-color: #001625;
        }
        &:after {
          content: "";
          width: 69.1vw;
          height: 69.1vw;
          left: -265px;
          bottom: -230px;
          background-color: #001f1e;
        }
      }
    }
  }

  @include media-breakpoint-up(xl) {
    .stage-box {
      .wrapper {
        .col {
          &:first-child {
            width: 50%;
          }
          &:last-child {
            width: 50%;
          }
        }
      }

      .stage-list {
        padding: 0 0 58.5px;
      }
    }
  }
}
