*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
select,
textarea {
  &:hover,
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: $dark;
}

.container {
  padding: 0 13px;

  @include media-breakpoint-up(xl) {
    padding: 0 40px;
  }
  @include media-breakpoint-up(xxl) {
    padding: 0 150px;
  }
}

.page-wrapper {
  width: 100%;
  overflow: hidden;
}

.page-content {
  background-color: $dark;
  position: relative;
  z-index: 1;
  border-radius: 0px 0px 20px 20px;
  padding: 50px 0 60px;
  margin: 0 0 -20px;

  @include media-breakpoint-up(lg) {
    padding: 80px 0;
    z-index: 1;
    border-radius: 0px 0px 40px 40px;
    margin: 0;
  }
}

.page-no-footer {
  .page-content {
    &:after {
      display: none;
    }
  }
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-hover-color;
    text-decoration: none;
  }
}

.btn-centered {
  text-align: center;
  padding: 10px 0 0;

  @include media-breakpoint-up(md) {
    padding: 30px 0 0;
  }
}

.nicescroll-rails {
  // display: none !important;
}

.wpcf7-response-output {
  display: none !important;
}
