.header {
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
  top: 0;
  padding: 10px 0;
  background: rgba(233, 238, 241, 0.1);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  @include media-breakpoint-down(lg) {
    &.color-dark {
      background: rgba($dark, 0.5);
    }
  }

  .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    position: relative;
    z-index: 9;
    a {
      display: block;
      width: 104px;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .header-buttons {
    .btn-medium {
      display: none;
    }
  }

  @include media-breakpoint-up(lg) {
    padding: 10px 0;
    height: 80px;
    overflow: hidden;
    background: transparent;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;

    &:hover {
      overflow: visible;
    }

    .header-wrapper {
      background: $dark;
      border: 1px solid $text-color;
      border-radius: 10px;
      padding: 8px 9px 8px 18px;
    }

    .logo {
      width: 140px;
      max-width: 140px;
      flex: 0 0 auto;

      a {
        width: 117px;
      }
    }

    .header-buttons {
      width: 140px;
      max-width: 140px;
      flex: 0 0 auto;

      .btn-medium {
        display: flex;
      }
    }
  }
}

.navbar-toggler {
  position: relative;
  box-shadow: none;
  border: none;
  padding: 10px 0;
  z-index: 99999;
  min-width: 33px;
  min-height: 30px;
  background: none;

  .navbar-toggler-icon {
    display: block;
    margin: auto;
    width: 33px;
    height: 8px;
    position: relative;
    background: none;

    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $white;
      transition: all 0.3s linear;
    }

    &:before {
      top: 0px;
    }

    &:after {
      bottom: 0px;
    }
  }

  &.active {
    .navbar-toggler-icon {
      &:before {
        transform: translateY(3px) rotate(45deg);
      }

      &:after {
        width: 100%;
        transform: translateY(-3px) rotate(-45deg);
      }
    }
  }

  @include media-breakpoint-up(lg) {
    display: none;
  }
}
