.header {
  position: absolute;
  z-index: 999;
  left: 0;
  right: 0;
  top: 0;
  padding: 10px 0;

  &.fixed {
    @include media-breakpoint-down(lg) {
      position: fixed;
      top: 0;
      width: 100%;
      left: 0;

      &:before {
        content: "";
        @include abs;
        background: rgba($gray, 0.7);
        filter: blur(10px);
      }

      @supports (backdrop-filter: blur(10px)) {
        background: rgba(233, 238, 241, 0.1);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);

        &:before {
          display: none;
        }
      }

      &.mob-menu-opened {
        &:before {
          background-color: transparent;
          filter: none;
        }
        @supports (backdrop-filter: blur(10px)) {
          background-color: transparent;
          -webkit-backdrop-filter: none;
          backdrop-filter: none;
        }
      }
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    position: relative;
    z-index: 9;
    a {
      display: block;
      width: 104px;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .header-buttons {
    .btn-small {
      display: none;
    }
  }

  @include media-breakpoint-up(lg) {
    padding: 9px 0;
    height: 60px;
    overflow: hidden;

    .logo {
      width: 140px;
      max-width: 140px;
      flex: 0 0 auto;

      a {
        width: 117px;
      }
    }

    .header-buttons {
      width: 140px;
      max-width: 140px;
      flex: 0 0 auto;

      .btn-small {
        display: block;
      }
    }
  }
}

.navbar-toggler {
  position: relative;
  box-shadow: none;
  border: none;
  padding: 10px 0;
  z-index: 99999;
  min-width: 33px;
  min-height: 30px;
  background: none;

  .navbar-toggler-icon {
    display: block;
    margin: auto;
    width: 33px;
    height: 8px;
    position: relative;
    background: none;

    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $white;
      transition: all 0.3s linear;
    }

    &:before {
      top: 0px;
    }

    &:after {
      bottom: 0px;
    }
  }

  &.active {
    .navbar-toggler-icon {
      &:before {
        transform: translateY(3px) rotate(45deg);
      }

      &:after {
        width: 100%;
        transform: translateY(-3px) rotate(-45deg);
      }
    }
  }

  @include media-breakpoint-up(lg) {
    display: none;
  }
}
