.stick-navigation {
  display: none;
  position: fixed;
  left: 50%;
  top: 10px;
  transform: translate3d(-50%, -150%, 0);
  background: rgba($gray, 0.7);
  border-radius: 10px;
  z-index: 9999;
  padding: 6px 20px 6px 6px;

  &:focus-within {
    &:before {
      border: 1px solid rgba(255, 255, 255, 0.5);
    }
  }

  &:before {
    content: "";
    @include abs;
    background: rgba($gray, 0.7);
    filter: blur(10px);
  }

  @supports (backdrop-filter: blur(10px)) {
    background: rgba(233, 238, 241, 0.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

    &:before {
      display: none;
    }
  }

  nav {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;

    .logo {
      background: #050505;
      border-radius: 5px;
      margin: 0 20px 0 0;
      width: 100px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;

      a,
      img {
        display: block;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      align-items: center;

      li {
        & + li {
          margin: 0 0 0 57px;
        }

        & > a {
          white-space: nowrap;
          color: $headline-color;
          display: block;
          letter-spacing: 0.01em;
          font-size: 14px;
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    display: block;
    transition: transform 0.5s ease;

    &.active {
      transform: translate3d(-50%, 0, 0);
    }
  }
}

.main-navigation {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  height: calc(100vh - 50px);
  background-color: $dark;
  padding: 0 20px;
  transform: translateX(-100%);
  transition: transform 0.25s linear;

  ul {
    margin: 0;
    padding: 50px 0 0;
    list-style: none;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: -0.01em;

    li {
      margin: 30px 0 0;

      a {
        color: $headline-color;
        display: flex;
        align-items: center;

        .arrow-icon-wrapper {
          background: none;
          margin-left: 5px;
          border-radius: 0;

          .arrow-icon {
            img {
              width: 14px;
              height: 14px;
            }
          }
        }

        &:hover {
          .arrow-icon-wrapper {
            .arrow-icon {
              transform: translate3d(100%, -100%, 0px);
            }
          }
        }
      }
    }
  }

  &.active {
    transform: translateX(0);
  }

  @include media-breakpoint-up(lg) {
    position: relative;
    left: 0;
    right: auto;
    top: 0;
    height: auto;
    background-color: transparent;
    padding: 0;
    transform: none;
    transition: none;
    width: 100%;

    ul {
      font-size: 14px;
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0;

      li {
        margin: 0 25px;
      }
    }

    & > ul {
      & > li {
        & > a {
          .arrow-icon-wrapper {
            display: none;
          }
        }

        &:last-child {
          display: none;
        }
      }
    }
  }

  @include media-breakpoint-up(xl) {
    ul {
      li {
        margin: 0 47px;
      }
    }
  }
}

.main-navigation,
.stick-navigation {
  & > ul > li,
  & > nav > ul > li {
    & > a {
      position: relative;

      @include media-breakpoint-up(lg) {
        &:before {
          content: "";
          width: 4px;
          height: 4px;
          border-radius: 100%;
          background: $headline-color;
          position: absolute;
          top: 100%;
          left: 50%;
          margin: 4px 0 0 -2px;
          opacity: 0;
          transition: opacity 0.2s;
        }

        &:hover {
          &:before {
            opacity: 1;
          }
        }

        &:active {
          &:before {
            @include gradient-base(90deg);
            opacity: 1;
          }
        }
      }
    }
  }

  ul {
    li {
      &.parent {
        @include media-breakpoint-up(lg) {
          & > a {
            display: flex;
            align-items: center;
            &:after {
              content: "";
              width: 18px;
              height: 18px;
              border-radius: 100%;
              background: #434343 url(../img/bg/chevron-down-white.svg) 50% no-repeat;
              margin-left: 6px;
            }
          }
        }
      }
    }
  }
}
