.stick-navigation {
  display: none;
  position: fixed;
  left: 50%;
  top: 10px;
  transform: translate3d(-50%, -150%, 0);
  background: rgba($gray, 0.7);
  border-radius: 10px;
  z-index: 9999;
  padding: 6px 20px 6px 6px;

  &:focus-within {
    &:before {
      border: 1px solid rgba(255, 255, 255, 0.5);
    }
  }

  &:before {
    content: "";
    @include abs;
    background: rgba($gray, 0.7);
    filter: blur(10px);
  }

  @supports (backdrop-filter: blur(10px)) {
    background: rgba(233, 238, 241, 0.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

    &:before {
      display: none;
    }
  }

  nav {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;

    .logo {
      background: #050505;
      border-radius: 5px;
      margin: 0 20px 0 0;
      width: 100px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;

      a,
      img {
        display: block;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      align-items: center;

      li {
        & + li {
          margin: 0 0 0 57px;
        }

        & > a {
          white-space: nowrap;
          color: $headline-color;
          display: block;
          letter-spacing: 0.01em;
          font-size: 14px;
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    display: block;
    transition: transform 0.5s ease;

    &.active {
      transform: translate3d(-50%, 0, 0);
    }
  }

  &--dark {
    background: $dark;

    &:before {
      background: $dark;
    }

    @supports (backdrop-filter: blur(10px)) {
      background: $dark;
    }

    nav {
      .logo {
        background: rgba(255, 255, 255, 0.1);
      }
    }
  }
}

.main-navigation {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  overflow: auto;
  background: $dark url(../img/bg/bg-menu.jpg) right bottom no-repeat;
  background-size: 100% auto;
  padding: 0 20px 26px;
  transform: translateX(-100%);
  transition: transform 0.25s linear;
  display: flex;
  flex-direction: column;

  ul {
    margin: 0;
    padding: 24vh 0 0;
    list-style: none;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: -0.01em;

    li {
      margin: 0 0 30px;

      a {
        color: $headline-color;
        display: flex;
        align-items: center;

        .arrow-icon-wrapper {
          background: none;
          margin-left: 5px;
          border-radius: 0;

          .arrow-icon {
            img {
              width: 14px;
              height: 14px;
            }
          }
        }

        &:hover {
          .arrow-icon-wrapper {
            .arrow-icon {
              transform: translate3d(100%, -100%, 0px);
            }
          }
        }
      }
    }
  }

  .menu-bottom {
    margin-top: auto;
  }

  .socials {
    display: flex;
    justify-content: space-between;
    margin: 0 0 30px;

    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 0.5px solid $headline-color;
      border-radius: 100%;
      width: 48px;
      height: 48px;

      .socials-icon {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      img {
        display: block;
      }
    }
  }

  .copyright {
    text-align: center;
    font-size: 12px;
    margin: 0;
  }

  &.active {
    transform: translateX(0);
  }

  .submenu {
    display: none;
  }

  @include media-breakpoint-down(lg) {
    ul {
      li {
        .menu-sticker {
          display: none;
        }
      }
    }

    .submenu {
      .inner {
        .card-wrapper {
          display: none;
        }
        ul {
          display: flex;
          flex-wrap: wrap;
          padding: 0;
          margin: 0;
          font-weight: 500;
          font-size: 14px;
          line-height: 1.1;
          letter-spacing: 0;

          li {
            width: 50%;
            margin: 30px 0 0;

            a {
              color: $headline-color;

              .submenu-link {
                display: inline-flex;
                align-items: center;

                &:after {
                  content: "";
                  width: 14px;
                  height: 14px;
                  display: block;
                  background: url(../img/icons/btn-arrow-nav.svg) 50% no-repeat;
                  background-size: cover;
                  margin-left: 13px;
                  transition: all 0.2s;
                }
              }

              .submenu-link-text {
                display: none;
              }

              &:hover {
                .submenu-link {
                  &:after {
                    transform: translate3d(50%, -50%, 0);
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    position: relative;
    left: 0;
    right: auto;
    top: 0;
    height: auto;
    background: none;
    padding: 0;
    transform: none;
    transition: none;
    width: 100%;
    overflow: visible;

    ul {
      font-size: 14px;
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0;

      li {
        margin: 0 25px;
        display: flex;

        .menu-sticker {
          display: block;
          font-size: 12px;
          line-height: 120%;
          letter-spacing: 0.01em;
          padding: 4px 10px;
          background: rgba(255, 255, 255, 0.1);
          border-radius: 20px;
          margin-left: 4px;

          span {
            background-color: $white;
            background-image: linear-gradient(90deg, #0d99ff 0%, #99faf4 100%);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }

        .submenu {
          display: none !important;
        }

        &:hover {
          .submenu {
            display: block !important;
          }
        }
      }
    }

    & > ul {
      & > li {
        & > a {
          .arrow-icon-wrapper {
            display: none;
          }
        }
      }
    }

    .menu-bottom {
      display: none;
    }

    .submenu {
      position: absolute;
      left: 50%;
      top: 99%;
      padding: 30px 0 0;
      transform: translateX(-50%);
      width: 100%;
      max-width: 900px;

      .inner {
        background-color: $dark;
        border: 1px solid $text-color;
        border-radius: 20px;
        display: flex;
        padding: 20px;

        ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;

          li {
            width: 50%;
            margin: 0;

            &:first-child {
              display: none;
            }

            a {
              display: block;
            }
          }
        }
      }

      .submenu-link {
        display: inline-flex;
        align-items: center;
        background-color: $white;
        background-image: linear-gradient(90deg, #0d99ff 0%, #99faf4 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.01em;
        margin: 0 0 4px;

        &:after {
          content: "";
          width: 12px;
          height: 12px;
          display: block;
          background: url(../img/icons/menu-arrow.svg) 50% no-repeat;
          margin-left: 13px;
        }
      }

      .submenu-link-text {
        font-size: 12px;
        letter-spacing: 0.01em;
        color: $text-color;
        display: block;
      }

      .card-wrapper {
        flex: 0 0 auto;
        margin: 0 20px 0 0;
        position: relative;
      }

      .card {
        width: 190px;
        border-radius: 10px 10px 31px 10px;
        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 22px), calc(100% - 22px) 100%, 0 100%);
        padding: 1px;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          z-index: -1;
          width: 100%;
          height: 100%;
          background-image: linear-gradient(90deg, #0d99ff, #99faf4);
          background-color: #0d99ff;
          border-radius: 10px 10px 31px 10px;
          clip-path: polygon(0 0, 100% 0, 100% calc(100% - 22px), calc(100% - 22px) 100%, 0 100%);
        }

        .card-inner {
          width: 100%;
          height: 100%;
          background: $dark url(../img/bg/bg-menu-card.svg) right bottom no-repeat;
          border-radius: 10px 10px 31px 10px;
          clip-path: polygon(0 0, 100% 0, 100% calc(100% - 22px), calc(100% - 22px) 100%, 0 100%);
          padding: 0 19px 10px;
        }

        figure {
          margin: 0 0 5px;
          text-align: center;
        }
      }
    }
  }

  @include media-breakpoint-up(xl) {
    ul {
      li {
        margin: 0 47px;
      }
    }
  }
}

.main-navigation,
.stick-navigation {
  & > ul > li,
  & > nav > ul > li {
    & > a {
      position: relative;

      @include media-breakpoint-up(lg) {
        &:before {
          content: "";
          width: 4px;
          height: 4px;
          border-radius: 100%;
          background: $headline-color;
          position: absolute;
          top: 100%;
          left: 50%;
          margin: 4px 0 0 -2px;
          opacity: 0;
          transition: opacity 0.2s;
        }

        &:hover {
          &:before {
            opacity: 1;
          }
        }

        &:active {
          &:before {
            @include gradient-base(90deg);
            opacity: 1;
          }
        }
      }
    }

    &:hover {
      & > a {
        &:before {
          opacity: 1;
        }
      }
    }

    &.submenu-parent {
      & > a {
        &:after {
          content: "";
          width: 10px;
          height: 6px;
          background: url(../img/icons/menu-chevron.svg) no-repeat;
          margin: 0 0 0 8px;
          display: block;
          transition: all 0.2s;
        }

        @include media-breakpoint-down(lg) {
          .arrow-icon-wrapper {
            display: none;
          }

          &:after {
            width: 14px;
            height: 9px;
            background-size: cover;
          }

          &.opened {
            &:after {
              transform: rotate(180deg);
            }
          }
        }
      }

      &:hover {
        & > a {
          &:after {
            transform: rotate(180deg);
          }
        }
      }
    }

    &.current_page_item,
    &.current-menu-item {
      & > a {
        pointer-events: none;
        &:before {
          background-color: $headline-color;
          opacity: 1;
        }
      }
    }
  }

  ul {
    li {
      &.parent {
        @include media-breakpoint-up(lg) {
          & > a {
            display: flex;
            align-items: center;
            &:after {
              content: "";
              width: 18px;
              height: 18px;
              border-radius: 100%;
              background: #434343 url(../img/bg/chevron-down-white.svg) 50% no-repeat;
              margin-left: 6px;
            }
          }
        }
      }
    }
  }
}
