html,
body {
  font-size: calc(14px + (18 - 14) * ((100vw - 375px) / (1660 - 375)));
}

body {
  color: $text-color;
  font-family: $font-family-base;
  line-height: $line-height-base;
  font-weight: 400;
}

.txt-lg {
  line-height: 1.1;
  font-weight: 500;
  letter-spacing: -0.04em;
  font-size: 5.75rem;
  color: $headline-color;

  .txt-lg-last {
    display: block;
    margin-left: 3rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 8rem;
  }

  @include media-breakpoint-up(xl) {
    font-size: 9.7rem;

    .txt-lg-last {
      margin-left: 6.4rem;
    }
  }
}

input,
select,
textarea,
button {
  font-family: $font-family-base;
}

h1,
.h1 {
  line-height: 0.95;
  font-weight: 500;
  letter-spacing: -0.03em;
  font-size: 3.43rem;
  color: $headline-color;
  margin: 0;
  margin-top: -5px;

  @include media-breakpoint-up(xl) {
    font-size: 5.11rem;
  }

  .word {
    margin-top: -0.1em;
    margin-bottom: -0.1em;
  }
}

h2,
.h2 {
  line-height: 1.01;
  font-weight: 500;
  letter-spacing: -0.02em;
  font-size: 2.57rem;
  color: $headline-color;
  margin: 0;

  @include media-breakpoint-up(xl) {
    font-size: 2.667rem;
  }

  .split {
    display: block;
  }

  .char {
    line-height: 1.2;
  }
}

h3,
.h3 {
  line-height: 120%;
  font-weight: 500;
  letter-spacing: -0.01em;
  font-size: 1.714rem;
  color: $headline-color;
  margin: 0;

  @include media-breakpoint-up(xl) {
    font-size: 1.555rem;
  }
}

h4 {
  line-height: 120%;
  font-weight: 500;
  font-size: $h4-font-size;
  color: $headline-color;
  margin: 0;

  @include media-breakpoint-up(xl) {
    font-size: 1.25rem;
  }
}

p {
  margin: 0 0 1rem;
}
