// Fonts
$font-family-base: "neue_montreal", sans-serif;

// Colors
$white: #fff;
$black: #000;

$dark: #050505;
$light: #f0f1ee;

$text-color: #91999e;
$headline-color: #e9eef1;

$placeholder-color: $text-color;
$error: #ef4335;

$blue: #0d99ff;
$lightblue: #99faf4;

$gray: #191919;
$lightgray: #9a9a9a;

$link-color: $lightgray;
$link-hover-color: $link-color;
$border-color: rgba(black, 0.1);

$tab-bg: #2a2a2a;
$tab-bg-hover: #191919;
$tab-bg-active: #050505;
$tab-border-focus: #e9eef1;

// Container

$content-max: 1610px;
$grid-gutter-width: 20px;

$grid-breakpoints: (
  xs: 0,
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1440px,
  xxl: 1660px,
);

// Typo
$line-height-base: 1.4;

$h3-font-size: 1.75rem;
$h4-font-size: 1.25rem;
